* {
    color: #FFFFFFE6;
 }
 *::-webkit-scrollbar {
    display: none;
 }

 .col {
   padding: 0.2rem!important;
 }

 .content {
   //  overflow-x: hidden;
    max-width: 1440px;
    margin: auto;
    position: relative;
    height: 100%;
 }
 .blink {
   //  font-family: Gilroy; background: #E51937; border-radius: 5px;
    animation: blinker 2s linear infinite;
    transform-origin: center;
 }

 .blinkZoom {
   animation: blinkerZoom 1s infinite;
   transform-origin: center;
 }
 @keyframes blinker {
   90% {
     transform: scale(1.1);
     filter: drop-shadow(1px 1px 1px #e27ade);
  }
   50% {
     transform: scale(0.9);
     filter: drop-shadow(1px 1px 1px #e27ade);
   }
 }
 @keyframes blinkerZoom {
   10% {
     transform: scale(1.2);
    }
    90% {
     transform: scale(.9);
   }
 }

 .second-section-blur-effect {
   background: rgba(35, 32, 32, 0.1);
   box-shadow: inset 6.8px -6.8px 6.8px rgb(27 24 24 / 10%), inset -6.8px 6.8px 6.8px rgb(255 255 255 / 10%);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 5px;
   cursor: pointer;
}
.second-section {
   &:hover {
    .second-section-blur-effect {
      box-shadow: inset 6.8px 6.8px 6.8px rgb(27 24 24 / 10%), inset 6.8px 6.8px 6.8px rgb(255 255 255 / 10%), 0 0 20px 1px #a92ac8;
    }
   }
   &:active {
    .second-section-blur-effect {
      background: linear-gradient(180deg,#7B2192 0%,#DC6EF8 100%);
      -webkit-background: linear-gradient(180deg,#7B2192 0%,#DC6EF8 100%);
      -moz-background: linear-gradient(180deg,#7B2192 0%,#DC6EF8 100%);
      box-shadow: 0 13.4px 26.8px #1a071f70, inset 0 -5.86622px 5.86622px #571667, inset 0 5.86622px 5.86622px #a92ac8;
      -webkit-box-shadow: 0px 13.4px 26.8px rgb(26 7 31 / 44%), inset 0px -5.86622px 5.86622px #571667, inset 0px 5.86622px 5.86622px #a92ac8;
      -moz-box-shadow: 0px 13.4px 26.8px rgba(26,7,31,.4395),inset 0px -5.86622px 5.86622px #571667,inset 0px 5.86622px 5.86622px #A92AC8;
    }
  }
}
.win {
  animation: winGradiant .3s infinite;
//   background-size: 200%;
}
@keyframes winGradiant {
//   50% {
//      background-position: 200%;
//   }
  50% {
    text-shadow: 5px 5px 8px rgb(0 0 0 / 50%);
    background: linear-gradient(180deg,#7B2192 0%,#DC6EF8 100%);
    -webkit-background: linear-gradient(180deg,#7B2192 0%,#DC6EF8 100%);
    -moz-background: linear-gradient(180deg,#7B2192 0%,#DC6EF8 100%);
    box-shadow: 0 13.4px 26.8px #1a071f70, inset 0 -5.86622px 5.86622px #571667, inset 0 5.86622px 5.86622px #a92ac8;
    -webkit-box-shadow: 0px 13.4px 26.8px rgb(26 7 31 / 44%), inset 0px -5.86622px 5.86622px #571667, inset 0px 5.86622px 5.86622px #a92ac8;
    -moz-box-shadow: 0px 13.4px 26.8px rgba(26,7,31,.4395),inset 0px -5.86622px 5.86622px #571667,inset 0px 5.86622px 5.86622px #A92AC8;
  }
}
.third-section-blur-effect{
   background: rgba(35, 32, 32, 0.1);
   box-shadow: inset 6.8px -6.8px 6.8px rgb(27 24 24 / 10%), inset -6.8px 6.8px 6.8px rgb(255 255 255 / 10%);
   backdrop-filter: blur(2px);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-radius: 5px;
}
 .btn {
   background: linear-gradient(175.19deg, #9A8BCE -67.57%, #13083A 60.73%);
   box-shadow: 2px 14px 13.2554px rgba(10, 9, 11, 0.555), inset -0.295239px -3.3746px 3.38749px #11053C, inset 0.295239px 3.3746px 3.38749px #5D5089;
   padding: 5px 10px 5px 10px;
    border: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 60px;
    width: 100%;
    height: 100%;
    position: relative;

    &.alternate {
      background: linear-gradient(175.19deg, #9A8BCE -67.57%, #380750 60.73%);
    }

    p {
      text-transform: uppercase;
      font-size: 13px;
      color: #fff;
      z-index: 999;
      margin: 0;
   }

    p:first-child {
      font-family: "Quicksand"!important;
      color: white;
    }

    img {
       width: 26px;
      z-index: 999;
    }


   //  &:hover {
   //     background: rgba(237,0,255,.08)!important;
   //     box-shadow: inset 0px 12px 12px rgb(11 11 11 / 40%), 0px 0px 0px 2px #ed00ff;
   //     font-weight: bold;
   //     padding: 5px 10px 5px 10px;

   //     p {
   //        color: #ed00ff;
   //        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   //     }
   //  }

   //  &.active {
   //     background: rgba(237,0,255,.08)!important;
   //     box-shadow: inset 0px 12px 12px rgb(11 11 11 / 40%), 0px 0px 0px 2px #ed00ff;
   //     font-weight: bold;
   //     padding: 2px 7px 2px 7px;
   //  }
 }
 .points {
    color: var(--green);
 }
 .player-controls.desktop {
    -webkit-transform: perspective(200) rotate3d(1, 0, 0, 15deg) translateY(-25px);
 }
 .player-controls.mobile .top {
    -webkit-transform: perspective(200) rotate3d(1, 0, 0, -15deg);
 }
 .player-controls.mobile .bottom {
    -webkit-transform: perspective(200) rotate3d(1, 0, 0, 15deg);
 }
 .p-1 {
    padding: .1rem!important;
 }
 .video-player {
    width: 100%;
 }
 .newGameText {
    font-size: 1rem;
    color: #ffffff;
 }
 .mobile.show {
    display: block;
 }
 .agent-logo {
   bottom: 10px;
   right: 5px;
   z-index: 999;

   img {
      width: 80px;
   }
}

 @media (min-width: 768px) {
   .agent-logo {
      bottom: 15px;
      right: 10px;
      z-index: 999;

      img {
         width: 70px;
         margin-top: 10px;
      }
   }

   #animated {
      width: 50px;
   }

   .game-details {
      font-size: 14px;

      .timer {
         font-size: 20px;
      }

      img {
         height: 40px !important;
      }
   }

    .mobile {
        display: none !important;
   }

   .newGameText {
       font-size: 1.7rem;
       color: #ffffff;
    }

    .video-player {
        width: 50%;
   }
 }
 .disabled {
    pointer-events: none!important;
    background: linear-gradient(180deg, #082434 -0.64%, rgba(51, 65, 108, 0) 116.6%);
    opacity: 1.0;
    font-family: Gilroy;
 }
 .disabled p {
    font-size: 18px;
 }
 .flip-card {
    background-color: transparent;
    width: 30px;
    height: 30px;
    perspective: 1000px;
    img {
        border-radius: 2px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   }
 }
 @media (min-width: 768px) {
    .flip-card {
        height: 40px;
   }
 }
 .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.2s;
    transform-style: preserve-3d;
 }
 //.flip-card:hover .flip-card-inner {
 //   transform: rotateY(180deg);
 //}
  .flip-card {
    &:hover,&.active {
      .flip-card-inner {
        transform: rotateY(180deg);
      }
    }
  }
 .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
 }
 .flip-card-back {
    transform: rotateY(180deg);
 }

 .game-details {
    font-size: 8px;
    z-index: 999;

    .timer {
       font-size: 10px;
    }

    img {
       height: 30px;
       filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
 }

 .timer {
   color: #92FFD1;
   font-size: 32px;
 }

 #animated {
   width: 35ypx;
 }

 @keyframes breathe {
   from {
      box-shadow: 0 0 5px 0 #92ffd1 inset;
   }
   to {
      box-shadow: 0 0 10px 0 #92ffd1 inset;
   }
}

 .h-25 .btn {
    min-height: 30px!important;
 }
 .blue {
   background: linear-gradient(180deg, #176371 0%, #29AEC8 100%);
   box-shadow: 8.3276e-16px 13.6px 27.2px rgb(7 28 33 / 49%), inset -3.92322e-16px -6.40711px 6.40711px #145865, inset 3.92322e-16px 6.40711px 6.40711px #2bb9d5;
 }
 .pink {
   background: linear-gradient(180deg, #7B2192 0%, #DC6EF8 100%);
   box-shadow: 8.20513e-16px 13.4px 26.8px rgb(26 7 31 / 44%), inset -3.59203e-16px -5.86622px 5.86622px #571667, inset 3.59203e-16px 5.86622px 5.86622px #a92ac8;
 }
 .dragon {
    background: linear-gradient(180deg, #1185AA -0.64%, rgba(51, 65, 108, 0) 116.6%);
 }
 .tiger {
    background: linear-gradient(180deg, #A80D86 0.53%, rgba(51, 65, 108, 0) 104.44%);
 }
 .left .row {
    @for $i from 0 to 4 {
       &:nth-child(#{$i + 1}) {
          .col-3 {
             &:nth-child(1) p {
                transform: skewX((24deg + $i * 3));
             }
             &:nth-child(2) p {
                transform: skewX((20deg + $i * 4));
             }
             &:nth-child(3) p {
                transform: skewX((16deg + $i * 2));
             }
             &:nth-child(4) p {
                transform: skewX((14deg + $i * 1));
             }
          }
       }
    }
    @for $i from 0 to 4 {
       &:nth-child(#{$i + 1}) {
          .col-6 {
             &:nth-child(1) p {
                transform: skewX((12deg + $i * 3));
             }
             &:nth-child(2) p {
                transform: skewX((16deg + $i * 1));
             }
          }
       }
    }
    @for $i from 0 to 4 {
       &:nth-child(#{$i + 1}) {
          .col-12 {
             &:nth-child(1) p {
                transform: skewX((12deg + $i * 3));
             }
          }
       }
    }
 }
 .right .row {
   @for $i from 0 to 4 {
      &:nth-child(#{$i + 1}) {
         .col-4 {
            &:nth-child(1) p {
               transform: skewX(-(14deg + $i * 2));
            }
            &:nth-child(2) p {
               transform: skewX(-(20deg + $i * 4));
            }
            &:nth-child(3) p {
               transform: skewX(-(14deg + $i * 2));
            }
         }
      }
   }
    @for $i from 0 to 4 {
       &:nth-child(#{$i + 1}) {
          .col-3 {
             &:nth-child(1) p {
                transform: skewX(-(14deg + $i * 2));
             }
             &:nth-child(2) p {
                transform: skewX(-(20deg + $i * 4));
             }
             &:nth-child(3) p {
                transform: skewX(-(16deg + $i * 2));
             }
             &:nth-child(4) p {
                transform: skewX(-(14deg + $i * 1));
             }
          }
       }
    }
    @for $i from 0 to 4 {
       &:nth-child(#{$i + 1}) {
          .col-6 {
             &:nth-child(1) p {
                transform: skewX(-(12deg + $i * 3));
             }
             &:nth-child(2) p {
                transform: skewX(-(16deg + $i * 5));
             }
          }
       }
    }
    @for $i from 0 to 4 {
       &:nth-child(#{$i + 1}) {
          .col-12 {
             &:nth-child(1) p {
                transform: skewX(-(12deg + $i * 3));
             }
          }
       }
    }
 }
 .left .row {
    transform: translateX(5px);
 }
 .left .row .col:first-child .btn {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
 }
 .left .row .col:last-child .btn {
    border: 0;
    background: none!important;

    &:after {
       content: '';
       position: absolute;
       top: 0;
       left: 0;
       height: 100%;
       border-radius: 0;
       border-top-right-radius: 10px;
       border-bottom-right-radius: 10px;
       background: linear-gradient(175.19deg, #9A8BCE -67.57%, #13083A 60.73%);
       box-shadow: 2px 14px 13.2554px rgba(10, 9, 11, 0.555), inset -0.295239px -3.3746px 3.38749px #11053C, inset 0.295239px 3.3746px 3.38749px #5D5089;
    }

    &.alternate {
      &:after {
         background: linear-gradient(175.19deg, #9A8BCE -67.57%, #380750 60.73%);
      }
    }

    &:hover, &.active {
       box-shadow: none;
       &:after {
         background: rgba(237,0,255,.08)!important;
         box-shadow: inset 0px 12px 12px rgb(11 11 11 / 40%), 0px 0px 0px 2px #ed00ff;
       }
    }

    &.disabled:after {
       background: linear-gradient(180deg, #082434 -0.64%, rgba(51, 65, 108, 0) 116.6%);
    }
    &.dragon:after {
       background: linear-gradient(180deg , #1185AA -0.64%, rgba(51, 65, 108, 0) 116.6%);
    }

    &.tiger:after {
       background: linear-gradient(179.55deg, #A80D86 -2.77%, rgba(51, 65, 108, 0) 87.69%);
    }
 }
.left .row .col-12 .btn::after {
   width: 500px;
}
.left .row .col-6 .btn::after {
  width: 295px;
}
.left .row .col-4 .btn::after {
  width: 250px;
}
.left .row .col-3 .btn::after {
 width: 200px;
}

 .right .row {
    transform: translateX(-5px);
 }
 .right .row .col:last-child .btn {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
 }
 .right .row .col:first-child .btn {
    border: 0;
    background: none!important;

    &:after {
       content: '';
       position: absolute;
       top: 0;
       right: 0;
       height: 100%;
       border-radius: 0;
       border-top-left-radius: 10px;
       border-bottom-left-radius: 10px;
       background: linear-gradient(175.19deg, #9A8BCE -67.57%, #13083A 60.73%);
       box-shadow: 2px 14px 13.2554px rgba(10, 9, 11, 0.555), inset -0.295239px -3.3746px 3.38749px #11053C, inset 0.295239px 3.3746px 3.38749px #5D5089;
    }

    &.alternate {
      &:after {
         background: linear-gradient(175.19deg, #9A8BCE -67.57%, #380750 60.73%);
      }
    }

    &:hover, &.active {
       box-shadow: none;
       &:after {
         background: rgba(237,0,255,.08)!important;
         box-shadow: inset 0px 12px 12px rgb(11 11 11 / 40%), 0px 0px 0px 2px #ed00ff;
       }
    }

    &.active:after {
       background: linear-gradient(180deg, #082434 -0.64%, rgba(51, 65, 108, 0) 116.6%);
    }

    &.disabled:after {
       background: linear-gradient(180deg, #082434 -0.64%, rgba(51, 65, 108, 0) 116.6%);
    }

    &.blue:after {
       background: linear-gradient(180deg , #1185AA -0.64%, rgba(51, 65, 108, 0) 116.6%);
    }

    &.pink:after {
       background: linear-gradient(179.55deg, #A80D86 -2.77%, rgba(51, 65, 108, 0) 87.69%);
    }

    &.dragon:after {
       background: linear-gradient(180deg , #1185AA -0.64%, rgba(51, 65, 108, 0) 116.6%);
    }

    &.tiger:after {
       background: linear-gradient(179.55deg, #A80D86 -2.77%, rgba(51, 65, 108, 0) 87.69%);
    }
 }
.right .row .col-12 .btn::after {
    width: 520px;
 }
.right .row .col-6 .btn::after {
   width: 295px;
}
.right .row .col-4 .btn::after {
   width: 270px;
}
.right .row .col-3 .btn::after {
  width: 220px;
}
 .chip {
    background: linear-gradient(155.96deg, #D21B39 -0.4%, #FF889C 47.14%, #D21B39 84.12%);
    border-radius: 50%;
    width: 20px;
    bottom: 5px;
    font-size: 10px;
    right: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 999;
    position: absolute;
 }

 .chip.green {
    color: black;
    left: 5px;
    right: auto;
    background: linear-gradient(155.96deg, #96FFD2 -0.4%, #3ED796 47.14%, #6DDBAD 84.12%);
 }

 .betResult p {
    color: #F092FF;
    margin-top: auto;
    margin-bottom: auto;
 }

 .betResult div {
   margin-top: auto;
   margin-bottom: auto;
}

 .score {
    text-align: center;
    color: white!important;
 }

 .betResult .col-6, .betResult .d-flex {
   padding: 5px;
 }

//  .new .col, .new app-bet-slip {
//    opacity: 0.5!important;
//    pointer-events: none!important;
// }

// .open .col, .open app-bet-slip {
//    opacity: 0.5!important;
//    pointer-events: none!important;
// }

.who-wins {
   background: linear-gradient(to right, rgba(178, 135, 41, 0) 0%, #92FFD1 35%, #b2872978 50%, #92FFD1 65%, rgba(178, 135, 41, 0) 100%);
}

.stack {
   max-width: 75%;
}

.coin-cb p{
  margin: 0;
  font-size: 18px !important;
}
