<div id="rulesModal" tabindex="-1" class="modal fade" style="z-index: 99999999999;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
       <div class="modal-content bg-transparent border-0">
          <div class="modal-body text-white">
             <div class="cb-height">
               <h2>Term and Conditions</h2>
               <ul>
                  <li>If you not accept this agreement do not place bets.</li>
                  <li>In case of disputes, admin's decision will be final.</li>
                  <li>Due to any technical issue if software does not work properly at time, we are not responsible for loss.</li>
                  <li>In case of Cheating & Betting in Unfair Rates, we will cancel bets even after settlement.</li>
               </ul>
               <br>
               <h2>GOA'S ANDAR BAHAR Game's Rules</h2>
               <ul>
                  <li>Andar Bahar is a very simple game that involves the use of a single pack of cards.</li>
                  <li>Game is played between the House and the Player.</li>
                  <li>The dealer deals a single card face up on the Joker place and then proceeds to deal cards face up on B(BAHAR) and A(ANDAR) spots.</li>
                  <li>When a card appears that matches the value of the Joker card then the game ends.</li>
                  <li>Before the start of the game Players bet on which side they think the game will end.</li>
               </ul>
               <br>
               <h2>PAYOUT</h2>
               <ul>
                  <li>If 1st dealt card in matches the Joker's card, BAHAR side wins with payout 1:0.25 (25% of bet amount on BAHAR)</li>
                  <li>If 1st dealt card in matches the Joker's card, ANDAR side wins with payout 1:1 (100% of bet amount on ANDAR)</li>
                  <li>The dealer deals a single card face up on the Joker place and then proceeds to deal cards face up on B(BAHAR) and A(ANDAR) spots.</li>
                  <li>If 2nd and onwards dealt card in matches the Joker's card, BAHAR side wins with payout 1:1 (100% of bet amount on BAHAR)</li>
                  <li>If 2nd and onwards dealt card in matches the Joker's card, ANDAR side wins with payout 1:1 (100% of bet amount on ANDAR)</li>
               </ul>
               <br>
               <h2>GOA'S ANDAR BAHAR Khel Ke Niyam</h2>
               <ul>
                  <li>andar bahar ek bahut hi saral khel hai jisme taash ke patton ke ek paik ka upayog shamil hai.</li>
                  <li>khel house aur khiladi ke beech khela jaata hai.</li>
                  <li>dealar dwara pahale jokar card open kiya jaata hai aur phir pahela card B(BAHAR) aur dusara card A(ANDAR) spot par rakha jaata hai is tarah khel aage badhata hai.</li>
                  <li>When a card appears that matches the value of the Joker card then the game ends.</li>
                  <li>Jab bhi Joker Card ka Matching Card Open hoga tab game vahi par samaapt(end) ho jayegi.</li>
               </ul>
            </div>
 
          </div>
          <div class="cb-btn-close rounded-circle">
            <button type="button" data-bs-dismiss="modal" class="" >X</button>
          </div>
       </div>
    </div>
 </div>

 <div id="quickBet" tabindex="-1" class="modal fade" style="z-index: 99999999999;">
   <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content bg-transparent border-0">
         <div class="modal-body bg-white rounded-3 text-dark">
           Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
         </div>
         <button type="button" data-bs-dismiss="modal" class="btn-close bg-white rounded-circle position-absolute" style="border: 2px solid #232A41; color: #232A41; font-family: Gilroy; bottom: -10px; right: -10px; width: 24px; height: 24px; opacity: 1.0; line-height: 16px;"></button>
      </div>
   </div>
</div>