.swiper-slide {
    cursor: pointer;
    width: auto!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide .row {
    white-space: nowrap;
    margin: 2px 5px;
    padding: 8px 20px;
    justify-content: center;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 13px;
    color: #CACACA;
    font-family: 'Quicksand', sans-serif;
    width: 100%;
    letter-spacing: .4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    height: auto;
    position: relative;
    transition: .3s;
    &::after,
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 50px;
        z-index: 2;
        opacity: 0;
        border: 1px solid transparent;
        transition: .6s;
        // outline: 0px solid;
        // outline-color: rgba(255, 255, 255, 0);
        // outline-offset: 0px;
    }
    &:hover:after {
        opacity: 1;
        border-color: #1DB6D2;
        outline-color: #1DB6D2;
        // outline-offset: 1px;
        top: -2px;
        left: 1px;
    }
    &:hover:before {
        opacity: 1;
        border-color: #1DB6D2;
        outline-color: #1DB6D2;
        // outline-offset: 1px;
        top: -4px;
        left: 2px;
    }
    &:hover {
        background-color: rgba(43, 164, 202, .4);
    }
    &:active {}
    // outline: 1px solid;
    // transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    // outline-color: rgba(255, 255, 255, 0);
    // outline-offset: -2px;
    // text-shadow: none;
    // box-shadow: 0 0 0 0; 
    // &:hover {
    //     outline-color: #486CB1;
    //     outline-offset: 6px;
    //     color: #FFFFFF;
    //     text-shadow: 0px 0px 10px rgba($color: #fff, $alpha: .4);
    // }
}
/* Btn 11  */
// .btn11 {
// 	display: inline-block;
// 	text-decoration: none;
// 	font-family: "proxima-nova", sans-serif;
// 	font-weight: 500;
// 	font-size: 13px;
// 	text-transform: uppercase !important;
// 	letter-spacing: 2px;
// 	color: #fff;
// 	cursor: hand;
// 	text-align: center;
// 	text-transform: capitalize;
// 	position: relative;
// 	overflow: hidden !important;
// 	transition: all .3s ease-in-out;
// 	background: transparent !important;
// 	&:hover {
// 		color: #80ffd3 !important;
// 		&::before {
// 			opacity: 1;
// 			transform: translateX(100%);
// 		}
// 		&::after {
// 			opacity: 1;
// 			transform: translateX(-100%);
// 		}
// 	}
// 	&::before {
// 		content: '';
// 		width: 100%;
// 		height: 100%;
// 		display: block;
// 		background: #c10daf;
// 		position: absolute;
// 		left: 0%;
// 		opacity: 1;
// 		top: 0;
// 		z-index: -12;
// 		transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
// 	}
// 	&::after {
// 		content: '';
// 		width: 100%;
// 		height: 100%;
// 		display: block;
// 		background: #80ffd3;
// 		position: absolute;
// 		left: 0%;
// 		opacity: 1;
// 		top: 0;
// 		z-index: -15;
// 		transition: all .65s cubic-bezier(0.77, 0, 0.175, 1);
// 	}
// }


.swiper-slide{
    overflow: unset !important;
}
.swiper-slide div {
    font-size: 12px;
}

@media (min-width: 768px) {
    .swiper-slide img {
        width: 20px; height: 20px;
    }
    .swiper-slide div {
        font-size: 16px;
    }
}

// .swiper-slide:hover .row {
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

.swiper-slide-current {
  .row {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Casino', sans-serif;
    text-shadow: 0px 0px 10px rgba($color: #fff, $alpha: .4);
    background: linear-gradient(to right, rgba(28, 196, 222, 0.932), rgba(202, 33, 224, 0.5));
    letter-spacing: 0.8px;
  }
}
