<nav class="navbar navbar-expand-lg navbar-dark" style="padding: 3px 0">
   <div class="container-fluid">
      <div class="header-cb">
         <div class="main-header-cb">
            <div class="cb-logo"><a href="/"><img src="../../../assets/images/supernowa 3d logo.png" alt=""></a></div>
            <div class="cb-three-col">
               <div class="mode-setting">
                   <img src="../assets/images/mode-setting.png" alt="">
               </div>
               <div class="d-flex dropdown shade-dropdown">
                  <button class="btn btn-secondary dropdown-toggle border-0" type="button" data-bs-toggle="dropdown">
                     <img class="card-img" src="../assets/images/debit-card.png"  /> 
                     <span class="mx-2 d-none d-md-inline-flex">999,000,657.49</span>
                     <img class="arrow-bottom-img" src="../assets/images/bottom-arrow.png" alt="">
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                     <li><a class="dropdown-item" routerLink="/report">Transaction Report</a></li>
                     <li><a class="dropdown-item" href="#">Logout</a></li>
                  </ul>
               </div>
               <div class="d-flex dropdown no-shade">
                  <button class="btn btn-secondary dropdown-toggle border-0" type="button" data-bs-toggle="dropdown">
                     <div class="my-account">
                        <h4>Cristopher</h4>
                        <img class="my-account-img" src="../assets/images/my-account.png" alt="">
                        <img class="bottom-mb-arrow" src="../assets/images/bottom-arrow.png" alt="">
                     </div>  
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                     <li>
                        <a class="dropdown-item" routerLink="/report"><img src="../../../assets/images/user-profile.svg" alt=""> User Profile</a>
                     </li>
                     <li>
                        <a class="dropdown-item" href="#"><img src="../../../assets/images/account-statement.svg" alt=""> Account Statement</a>
                     </li>
                     <li>
                        <a class="dropdown-item" href="#"><img src="../../../assets/images/deposit withdraw.svg" alt=""> Deposit/Withdraw</a>
                     </li>
                     <li>
                        <a class="dropdown-item" href="#"><img src="../../../assets/images/payment history.svg" alt=""> Payment History</a>
                     </li>
                     <li>
                        <a class="dropdown-item" href="#"><img src="../../../assets/images/change password.svg" alt=""> Change Password</a>
                     </li>
                     <li>
                        <a class="dropdown-item" href="#"><img src="../../../assets/images/transaction report.svg" alt=""> Transaction Report</a>
                     </li>
                  </ul>
               </div>
           </div>
         </div>
      </div>
      
       
      <!-- <div class="d-flex align-items-center">
      <div class="d-flex me-2">
         <button class="btn btn-secondary bg-transparent border-0" type="button" data-bs-toggle="dropdown">
         <img src="../assets/images/icon-person.svg" style="border-radius: 50%; vertical-align: middle;"/> <span class="mx-2 fst-italic d-none d-md-inline-flex">Welcome, ABC</span>
         </button>
      </div>
      <div class="d-flex dropdown">
         <button class="btn btn-secondary dropdown-toggle border-0" type="button" data-bs-toggle="dropdown" style="border: 1px solid #F092FF!important; background: #191F30; box-shadow: inset -5px -5px 250px rgb(255 255 255 / 2%); border-radius: 4px;">
         <img src="../assets/images/icon-card.svg" style="vertical-align: initial;"/> <span class="mx-2 d-none d-md-inline-flex">999,000,657.49</span>
         </button>
         <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item text-dark" routerLink="/report">Transaction Report</a></li>
            <li><a class="dropdown-item text-dark" href="#">Logout</a></li>
         </ul>
      </div>
      </div> -->
   </div>
 </nav>