<div class="content" id="content">

   <div class="video-player row position-relative m-auto"
      style="width: 100%!important; margin-bottom: -300px!important;">
      <div class="position-relative p-0">
         <app-virtual class="p-0"></app-virtual>

         <div *ngIf="state == 'open'" class="position-absolute w-100 h-100 top-0" style="z-index: 9999;">
            <!-- <h4 class="who-wins position-absolute top-50 start-50 translate-middle">
               WINNER {{GameWinner}}
            </h4> -->
         </div>

         <div class="position-absolute top-0 start-0 m-2">
            <svg id="animated" viewBox="0 0 100 100" style="background: #053755; border-radius: 50%;">
               <circle cx="50" cy="50" r="40" stroke-width="10" stroke="#92ffd1" fill="none"
                  style="stroke-dasharray: 3;"></circle>
               <path id="progress" stroke-width="12" stroke="#053755" fill="none"
                  d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80" stroke-linecap="butt">
               </path>
               <circle cx="50" cy="50" r="49.5" stroke-width="3" stroke="#92ffd1" fill="none"
                  style="filter: drop-shadow(0px 0px 3px #92ffd1);"></circle>
               <text class="timer" id="count" x="50" y="50" text-anchor="middle" dy="7" font-size="30"
                  style="text-shadow: 0 0 2px #92ffd1, 0 0 60px #92ffd1, 0 0 13px #92ffd1;"
                  fill="#92FFD1">{{timeLeft}}</text>
            </svg>
            <div class="text-center p-1 blink mt-1 d-block d-md-none"><img src="../assets/images/live.svg" width="35">
            </div>
         </div>

         <div class="position-absolute top-0 end-0 d-none d-md-block m-2">
            <div class="text-center p-1 blink"><img src="../assets/images/live.svg" width="50"></div>
         </div>

         <app-action-tray></app-action-tray>

         <app-how-to-play></app-how-to-play>

         <div class="position-absolute agent-logo">
            <img src="../assets/images/logo.png">
         </div>
      </div>

   </div>

   <div class="position-relative mb-md-5 mt-1" class="{{state}}">
      <div class="row player-controls p-0 m-auto desktop d-none d-md-block w-75 overflow-hidden"
         style="border: 1.5px solid var(--green); background: #101421; border-radius: 20px;    box-shadow: 0px 0px 5px 0.5px var(--green);">
         <!-- <app-bet-slip class="d-block p-0" [selected]="selected" [player]="player" [odds]="odds"></app-bet-slip> -->

         <div class="row m-0 p-0" style="height: 200px; background: black;">
            <div class="col-4 left px-2 py-0 h-100">
               <div class="row">
                  <div class="col col-6">
                     <div class="btn button disabled">
                        <p>Player A</p>
                     </div>
                  </div>
                  <div class="col col-6">
                     <div class="btn button disabled">
                        <p>Player B</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col col-6">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button blue">
                        <p>Back</p>
                        <p class="points">4.15</p>
                     </div>
                  </div>
                  <div class="col col-6">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button blue">
                        <p>Back</p>
                        <p class="points">1.5o</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col col-6">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button pink">
                        <p>Lay</p>
                        <p class="points">4.15</p>
                     </div>
                  </div>
                  <div class="col col-6">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button pink">
                        <p>Lay</p>
                        <p class="points">1.5o</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-4 pe-none"></div>
            <div class="col-4 right px-2 py-0">
               <div class="row h-50">
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button">
                        <p>Colour</p>
                        <p class="points">12.34</p>

                     </div>
                  </div>
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button">
                        <p>Trio</p>
                        <p class="points">12.34</p>

                     </div>
                  </div>
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button">
                        <p>Pair</p>
                        <p class="points">12.34</p>

                     </div>
                  </div>
               </div>
               <div class="row h-50">
                  <div (click)="AddBet('Player A', 4.15)" class="col col-6">
                     <div class="btn button">
                        <p>Pre Sequence</p>
                        <p class="points">12.34</p>

                     </div>
                  </div>
                  <div class="col col-6">
                     <div (click)="AddBet('Player A', 4.15)" class="btn button">
                        <p>Sequence</p>
                        <p class="points">12.34</p>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <app-bet-slip class="d-block d-md-none p-0" [selected]="selected" [player]="player" [odds]="odds"></app-bet-slip>

      <div class="row player-controls p-0 m-auto mobile show mt-4 position-relative"
         style="width: 85%; margin-bottom: 100px !important;">
         <div class="top overflow-hidden"
            style="border: 1.5px solid #f092ff; background: #101421; border-radius: 20px; box-shadow: 0px 0px 5px 0.5px #f092ff;">
            <div class="row">
               <div class="col p-1">
                  <div class="btn button disabled">
                     <p>Player A</p>
                  </div>
               </div>
               <div class="col p-1">
                  <div class="btn button disabled">
                     <p>Player B</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col p-1">
                  <div (click)="AddBet('A', 1.50)" class="btn button blue">
                     <p>Back</p>
                     <p class="points">12.34</p>
                  </div>
               </div>
               <div class="col p-1">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button blue">
                     <p>Back</p>
                     <p class="points">1.5o</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col p-1">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button pink">
                     <p>Lay</p>
                     <p class="points">12.34</p>
                  </div>
               </div>
               <div class="col p-1">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button pink">
                     <p>Lay</p>
                     <p class="points">1.5o</p>
                  </div>
               </div>
            </div>
         </div>

         <div class="bottom overflow-hidden"
            style="margin-top: -10px; border: 1.5px solid #f092ff; background: #101421; border-radius: 20px; box-shadow: 0px 0px 5px 0.5px #f092ff;">
            <div class="row">
               <div class="col p-1">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button">
                     <p>Colour</p>
                     <p class="points">12.34</p>

                  </div>
               </div>
               <div class="col p-1">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button">
                     <p>Trio</p>
                     <p class="points">12.34</p>

                  </div>
               </div>
               <div class="col p-1">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button">
                     <p>Pair</p>
                     <p class="points">12.34</p>

                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col p-1">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button">
                     <p>Pre Sequence</p>
                     <p class="points">12.34</p>

                  </div>
               </div>
               <div class="col p-1">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button">
                     <p>Sequence</p>
                     <p class="points">12.34</p>

                  </div>
               </div>
            </div>
         </div>
      </div>

      <app-bet-dial [selected]="selected" [state]="state" (messageEvent)="receiveMessage($event)"></app-bet-dial>
   </div>

   <app-popup></app-popup>

   <app-rules></app-rules>
</div>