<!-- <div class="position-absolute tray d-none d-md-block">
    <div class="p-md-2 mb-flex-cb">
       <div data-bs-toggle="modal" data-bs-target="#popModalDesktop" class="p-md-2">
         <img class="cb-mt-45" src="../assets/images/side-icon-1.png">
       </div>
       <div data-bs-toggle="modal" data-bs-target="#popModalDesktop" class="p-md-2">
         <img class="cb-mt-45" src="../assets/images/side-icon-2.png">
      </div>
       <div class="p-md-2" data-bs-toggle="modal" data-bs-target="#rulesModal">
         <img class="cb-mt-45" src="../assets/images/side-icon-3.png">
       </div>
       <div class="p-md-2" data-bs-toggle="modal" data-bs-target="#rulesModal">
        <img class="cb-mt-45" src="../assets/images/side-icon-4.png">
      </div>
    </div>
 </div> -->

 <div class="tray">
  <div class="p-md-2 mb-flex-cb actionTry position-relative">
    <!-- <img src="../../../assets/images/control-bg.png" class="actionTryBg d-none d-md-block position-absolute start-0 top-0 h-100" style="z-index: -11;"> -->
    <div class="p-md-2 ro-bg" (click)="soundControl()" [ngClass]="isMute ? 'mute' : 'play'" id="sound-mute-off-on">
      <svg class="sound_on" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16 21.9067C19.527 20.3597 21.999 16.9977 21.999 12.9067C21.999 8.81574 19.527 5.45374 16 3.90674V5.90674C18.387 7.29274 19.999 9.95374 19.999 12.9067C19.999 15.8597 18.387 18.5207 16 19.9067V21.9067Z"
          fill="white" />
        <path
          d="M16 7.90657V17.9066C17.225 16.8066 18 14.6776 18 12.9066C18 11.1356 17.225 9.00657 16 7.90657ZM4 17.9066H6.697L14 22.7746V3.03857L6.697 7.90657H4C2.897 7.90657 2 8.80357 2 9.90657V15.9066C2 17.0096 2.897 17.9066 4 17.9066Z"
          fill="white" />
      </svg>
      <svg class="sound_off" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M21.7809 14.2424C21.8153 14.2768 21.8325 14.3172 21.8325 14.3639C21.8325 14.4105 21.8153 14.451 21.7809 14.4853L20.6397 15.6266C20.6053 15.661 20.566 15.6781 20.5219 15.6781C20.4826 15.6781 20.4409 15.661 20.3967 15.6266L18.7695 13.9994L17.1423 15.6266C17.108 15.661 17.0687 15.6781 17.0245 15.6781C16.9852 15.6781 16.9435 15.661 16.8993 15.6266L15.7581 14.4853C15.7286 14.4559 15.7139 14.4142 15.7139 14.3602C15.7139 14.3111 15.7286 14.2718 15.7581 14.2424L17.3853 12.6152L15.7654 10.988C15.731 10.9585 15.7139 10.9192 15.7139 10.8702C15.7139 10.8162 15.731 10.7744 15.7654 10.745L16.8993 9.60372C16.9337 9.56936 16.9754 9.55218 17.0245 9.55218C17.0735 9.55218 17.1128 9.56936 17.1423 9.60372L18.7695 11.2309L20.3967 9.60372C20.431 9.56936 20.4715 9.55218 20.5181 9.55218C20.5648 9.55218 20.6052 9.56936 20.6396 9.60372L21.7809 10.745C21.8152 10.7793 21.8324 10.8198 21.8324 10.8665C21.8324 10.9131 21.8152 10.9536 21.7809 10.9879L20.1537 12.6152L21.7809 14.2424ZM2.16772 8.31132H7.04406L14.3797 2.33252V22.8979L7.04408 16.9191H2.16772V8.31132Z"
          fill="white" fill-opacity="0.9" />
      </svg>
    </div>

    <!-- <div data-bs-toggle="modal" data-bs-target="#popModalDesktop" class="p-md-2 ro-bg" (click)="coinControlsClick()" [ngClass]="coinControls ? 'active1' : ''"> -->
    <div class="triangle-icons">
      <div class="p-md-2 ro-bg" id="btn1" (click)="onclickaddclass('btn1','coinPop')">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_1_21828)">
            <path
              d="M21.1801 15.2444L23.7526 16.5314C24.0826 16.6964 24.0826 17.1674 23.7526 17.3324L12.4006 23.0099C12.2763 23.0719 12.1391 23.1042 12.0001 23.1042C11.8611 23.1042 11.724 23.0719 11.5996 23.0099L0.247635 17.3324C0.173478 17.295 0.111154 17.2378 0.067609 17.167C0.0240637 17.0963 0.0010066 17.0149 0.0010066 16.9319C0.0010066 16.8488 0.0240637 16.7674 0.067609 16.6967C0.111154 16.626 0.173478 16.5688 0.247635 16.5314L2.82164 15.2444L10.7971 19.2329C11.5546 19.6109 12.4471 19.6109 13.2031 19.2329L21.1786 15.2429L21.1801 15.2444ZM11.5996 0.0943739C11.724 0.0323079 11.8611 0 12.0001 0C12.1391 0 12.2763 0.0323079 12.4006 0.0943739L23.7526 5.77037C23.8267 5.80799 23.889 5.8654 23.9324 5.93622C23.9759 6.00704 23.9989 6.08852 23.9989 6.17162C23.9989 6.25473 23.9759 6.3362 23.9324 6.40703C23.889 6.47785 23.8267 6.53525 23.7526 6.57287L12.4006 12.2474C12.2763 12.3094 12.1391 12.3417 12.0001 12.3417C11.8611 12.3417 11.724 12.3094 11.5996 12.2474L0.247635 6.57287C0.173085 6.53565 0.11038 6.47838 0.0665533 6.40751C0.0227268 6.33664 -0.000488281 6.25495 -0.000488281 6.17162C-0.000488281 6.08829 0.0227268 6.00661 0.0665533 5.93574C0.11038 5.86487 0.173085 5.8076 0.247635 5.77037L11.5996 0.0943739Z"
              fill="white" />
            <path
              d="M21.1801 9.86377L23.7526 11.1508C24.0826 11.3158 24.0826 11.7868 23.7526 11.9518L12.4006 17.6278C12.2762 17.6898 12.1391 17.7221 12.0001 17.7221C11.8611 17.7221 11.724 17.6898 11.5996 17.6278L0.247605 11.9518C0.173448 11.9144 0.111124 11.8572 0.067579 11.7864C0.0240337 11.7157 0.000976562 11.6343 0.000976563 11.5513C0.000976562 11.4682 0.0240337 11.3868 0.067579 11.3161C0.111124 11.2454 0.173448 11.1881 0.247605 11.1508L2.82161 9.86377L10.7971 13.8523C11.5546 14.2303 12.4471 14.2303 13.2031 13.8523L21.1786 9.86377H21.1801Z"
              fill="white" />
          </g>
          <defs>
            <clipPath id="clip0_1_21828">
              <rect width="24" height="24" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
    </div>
    <!-- <div data-bs-toggle="modal" data-bs-target="#popModalDesktop" class="p-md-2 ro-bg" (click)="inforMationClick()" [ngClass]="inforMation ? '' : 'active2'"> -->
    <div class="triangle-icons">
      <div class="p-md-2 ro-bg" id="btn2" (click)="onclickaddclass('btn2','optionPop')">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M14.5619 9.92598L10.0259 10.4945L9.86392 11.2475L10.7564 11.4095C11.3369 11.549 11.4524 11.7575 11.3264 12.338L9.86392 19.2035C9.48142 20.978 10.0739 21.8135 11.4644 21.8135C12.5444 21.8135 13.7954 21.3155 14.3639 20.63L14.5379 19.8065C14.1434 20.1545 13.5629 20.294 13.1804 20.294C12.6359 20.294 12.4394 19.9115 12.5774 19.238L14.5619 9.92598ZM14.6984 5.79348C14.6984 6.31861 14.4898 6.82223 14.1185 7.19355C13.7472 7.56487 13.2435 7.77348 12.7184 7.77348C12.1933 7.77348 11.6897 7.56487 11.3183 7.19355C10.947 6.82223 10.7384 6.31861 10.7384 5.79348C10.7384 5.26835 10.947 4.76473 11.3183 4.39341C11.6897 4.02208 12.1933 3.81348 12.7184 3.81348C13.2435 3.81348 13.7472 4.02208 14.1185 4.39341C14.4898 4.76473 14.6984 5.26835 14.6984 5.79348Z"
            fill="white" />
        </svg>
      </div>
    </div>
    <!-- <div data-bs-toggle="modal" data-bs-target="#rulesModal" class="p-md-2 ro-bg" (click)="touchHandClick()" [ngClass]="touchHand ? '' : 'active3'"> -->
    <div class="triangle-icons">
      <div class="p-md-2 ro-bg" id="btn3" (click)="onclickaddclass('btn3','touchPop')">
        <img src="../../../assets/images/touch-hand.svg" alt="" style="width: 20px;">
      </div>
    </div>
  </div>
</div>