.maintenance {
  min-height: 100vh;
  @media (max-width: 767px) {
    // min-height: 70vh;
  }
  .space {
    @media (max-width: 767px) {
      // padding-top: 15%;
    }
    .astronaut {
      &-1 {width: 14%;left: 10%;top: 20%;}
      &-2 {width: 14%;right: 18%;top: 15%;}
      @media (max-width: 767px) {
        &-1 {width: 20%;left: 10%;top: 26%;}
        &-2 {width: 20%;right: 18%;top: 20%;}
      }
    }
    .spaceship {
      width: 75%;
      margin: 10% auto 0;
      &-sta {
        width: 20%;
        height: auto;
        left: 0;
        right: 0;
        bottom: 20%;
        margin: 0 auto;
        z-index: -1;
        @media (max-width: 767px) {
          bottom: 15%;
        }
      }
    }
  }
  .descclock {
    position: absolute;
    @media (max-width: 767px) {
      position: relative;
    }
  }
  h3 {
    letter-spacing: .3px;
  }
}