<!-- <div class="position-fixed top-0 end-0 p-3 hide" style="z-index: 9999;">
   <div id="success" class="toast align-items-center text-white bg-success border-0 hide">
      <div class="d-flex">
        <div class="toast-body">
          Bet placed successfully!
        </div>
      </div>
    </div>
</div>

<div class="col-4 d-none d-md-block {{selected}} {{state}}" style="transform:scale(0.8);height: 240px;overflow: hidden;margin: auto;bottom: -3px; position: absolute;left: 0;right: 0;margin-left: auto;margin-right: auto;">
    <img src="../assets/images/arrow-left.svg" class="arrow left">
    <img src="../assets/images/arrow-right.svg" class="arrow right">
    <img src="../assets/images/dial.png" class="w-100 position-absolute h-100" style="left: 0px; right: 0px;">
    <ul class="circle-container desktop" style="z-index: 999;">
       <li class="c1" value="500">500</li>
       <li class="c2" value="1000">1000</li>
       <li class="c3" value="5000">5000</li>
       <li class="c4" value="10000">10K</li>
       <li class="c5" value="50000">50K</li>
       <li class="c6" value="100000">100K</li>
       <li class="c7" value="500">500</li>
       <li class="c8" value="1000">1000</li>
       <li class="c9" value="5000">5000</li>
       <li class="c10 active" value="10000">10K</li>
       <li class="c11" value="500000">50K</li>
       <li class="c12" value="100000">100K</li>
    </ul>
    <img src="../assets/images/triangle.png" style="position: absolute; top: 0px; margin-top: 15px; left: 0; right: 0; margin-left: auto; margin-right: auto;">
    <div style="z-index: 99999; overflow: hidden; text-align: center; position: absolute; left: 0; right: 0; top: 50%; width: 50%; margin: auto; height: 100%; border: 1px solid #F092FF; border-radius: 50%; background: linear-gradient(153.85deg, #CF65F4 16.22%, #952CB9 59.51%); padding-bottom: 50%; box-shadow: inset 0px 12px 12px rgba(0, 0, 0, 0.5); ">
    <div *ngIf="betState == null" (click)="placeBet()" id="betPlaceBtn" style="font-size: 2.3rem; font-family: Gilroy; font-weight: bold; color: white; text-transform: uppercase; height: 120px;display: flex; justify-content: center; align-items: center;background: linear-gradient(153.85deg, #CF65F4 16.22%, #952CB9 59.51%); opacity: 1.0; cursor:pointer;">
       Bet
    </div>
    <div *ngIf="betState == 'loading'" style="font-family: Gilroy; font-weight: bold; color: white; text-transform: uppercase; height: 120px;display: flex; justify-content: center; align-items: center;background: linear-gradient(153.85deg, #CF65F4 16.22%, #952CB9 59.51%); opacity: 1.0; cursor:pointer;">
      <div class="spinner-border text-light"></div>
    </div>
    </div>
 </div>

 <div class="col-12 mobile-dial mobile hide" style="padding-bottom: 70vw; overflow: hidden;">
    <div style="position: fixed; overflow: hidden; z-index: 9999999999; bottom: 5vw; transform: scale(1.2); height: 48vw;margin-left: auto;margin-right: auto;left: 0;right: 0;">
       <img src="../assets/images/dial.png" class=" w-100 h-100 position-absolute" style="transform: scale(1.05); left: 0px; right: 0px; bottom: 0px;">
       <ul class="circle-container mobile" style="z-index: 9;">
         <li class="c1" value="500">500</li>
         <li class="c2" value="1000">1000</li>
         <li class="c3" value="5000">5000</li>
         <li class="c4" value="10000">10K</li>
         <li class="c5" value="50000">50K</li>
         <li class="c6" value="100000">100K</li>
         <li class="c7" value="500">500</li>
         <li class="c8" value="1000">1000</li>
         <li class="c9" value="5000">5000</li>
         <li class="c10 active" value="10000">10K</li>
         <li class="c11" value="500000">50K</li>
         <li class="c12" value="100000">100K</li>
      </ul>

       <img src="../assets/images/triangle.png" style="position: absolute; top: 10px; left: 0; right: 0; margin-left: auto; margin-right: auto;">

       <div style="overflow: hidden; text-align: center; position: absolute; left: 0; right: 0; top: 50%; width: 50%; margin: auto; height: 100%; border: 1.5px solid #92FFD1; border-radius: 50%; background: linear-gradient(153.85deg, #CF65F4 16.22%, #952CB9 59.51%); box-shadow: inset 0px 12px 12px rgba(0, 0, 0, 0.5);">

         <div *ngIf="betState == null">
            <div  class="row" style="font-family: Gilroy; font-weight: bold; color: white; text-transform: uppercase; height: 50px; display: flex; justify-content: center; align-items: center; background: url(../assets/images/button-greenbg.png);">
               <span class="col-12" (click)="placeBet()" id="betPlaceBtn" style="z-index: 999; pointer-events: all; height: 100%; display: flex; align-items: center; padding: 0px; font-size: 10px; justify-content: center;">Bet</span>
            </div>
            <div class="row" style="font-family: Gilroy;height: 50px;text-transform: uppercase;">
               <span class="col-12 cancel" style="z-index: 9; pointer-events: all; background: url(../assets/images/button-redbg.png); height: 100%; display: flex; align-items: center; padding: 0px; font-size: 10px; justify-content: center;">Cancel</span>
            </div>
         </div>
         <div *ngIf="betState == 'loading'" style="font-family: Gilroy; font-weight: bold; color: white; text-transform: uppercase; height: 100px; display: flex; justify-content: center; align-items: center; background: url(../assets/images/button-greenbg.png);">
           <div class="spinner-border text-light"></div>
         </div>         
       </div>
    </div>
 </div> -->


 <!-- <img src="../../../assets/images/bg-spin.png" class="spinBgImg position-absolute"> -->
<img src="../../../assets/images/semi-curve_.png" class="d-md-none spinBgImg position-absolute">

<div class="controls selection-off">
  <div class="cursor-pointer coin-left-btn" (click)="rotateCoins(coinsAry.length - 1)"><img src="../../../assets/images/coin-btns.png" alt=""></div>
  <div class="cursor-pointer coin-right-btn" (click)="rotateCoins(1)"><img src="../../../assets/images/coin-btns.png" alt=""></div>
</div>

<div class="minCoin">
  <div class="mid-circle minCoin-in">
    <div class="coin-cirle" style="margin-left: 10px;margin-top: 10px;">
      <div id="center" class="wrapper">
        <div [ngClass]="i==0 ? 'item coin-selected' : 'item'" *ngFor="let coinValue of coinsAry;let i = index;">
          <div class="coin-cb" (click)="rotateCoins(i)"><p>{{coinValue}}</p><input class="coinSlideInput w-50" type="number" value="{{coinValue}}"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <svg class="position-absolute mx-auto start-0 end-0 w-25" width="128" height="123" viewBox="0 0 128 123" fill="none" xmlns="http://www.w3.org/2000/svg" style="top: 30px;z-index: -53;"> <g filter="url(#filter0_f_1414_4351)"> <ellipse cx="64" cy="61.5" rx="34.5" ry="37" transform="rotate(-90 64 61.5)" fill="#C777CD"/> </g> <defs> <filter id="filter0_f_1414_4351" x="0" y="0" width="128" height="123" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB"> <feFlood flood-opacity="0" result="BackgroundImageFix"/> <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/> <feGaussianBlur stdDeviation="13.5" result="effect1_foregroundBlur_1414_4351"/> </filter> </defs> </svg>
  <!-- <div class="bet-cb-btn" (click)="toasts()" id="liveToastBtn"> -->
  <div class="bet-cb-btn" (click)="onBetPlaced();" id="liveToastBtn">
    <h4>BET</h4>
  </div>
</div>