<div class="content" id="content">


   <div class="video-player row position-relative m-auto"
      style="width: 100%!important; margin-bottom: -300px!important;">
      <div class="position-relative p-0">
         <app-virtual class="p-0"></app-virtual>

         <div *ngIf="state == 'open'" class="position-absolute w-100 h-100 top-0" style="z-index: 9999;">

            <!-- <h4 class="who-wins position-absolute top-50 start-50 translate-middle">
               WINNER {{GameWinner}}
            </h4> -->
         </div>



         <div class="position-absolute top-0 start-0 m-2">
            <svg id="animated" viewBox="0 0 100 100" style="background: #053755; border-radius: 50%;">
               <circle cx="50" cy="50" r="40" stroke-width="10" stroke="#92ffd1" fill="none"
                  style="stroke-dasharray: 3;"></circle>
               <path id="progress" stroke-width="12" stroke="#053755" fill="none"
                  d="M50 10 a 40 40 0 0 1 0 80 a 40 40 0 0 1 0 -80" stroke-linecap="butt">
               </path>
               <circle cx="50" cy="50" r="49.5" stroke-width="3" stroke="#92ffd1" fill="none"
                  style="filter: drop-shadow(0px 0px 3px #92ffd1);"></circle>
               <text class="timer" id="count" x="50" y="50" text-anchor="middle" dy="7" font-size="30"
                  style="text-shadow: 0 0 2px #92ffd1, 0 0 60px #92ffd1, 0 0 13px #92ffd1;"
                  fill="#92FFD1">{{timeLeft}}</text>
            </svg>
            <div class="text-center p-1 blink mt-1 d-block d-md-none"><img src="../assets/images/live.svg" width="35">
            </div>
         </div>

         <div class="position-absolute top-0 end-0 d-none d-md-block m-2">
            <div class="text-center p-1 blink"><img src="../assets/images/live.svg" width="50"></div>
         </div>

         <app-action-tray></app-action-tray>

         <app-how-to-play></app-how-to-play>

         <div class="position-absolute agent-logo">
            <img src="../assets/images/logo.png">
         </div>
      </div>

   </div>

   <div class="position-relative mb-md-5 mt-1" class="{{state}}">
      <div class="row player-controls p-0 m-auto desktop d-none d-md-block w-75 overflow-hidden"
         style="border: 1.5px solid var(--green); background: #101421; border-radius: 20px;    box-shadow: 0px 0px 5px 0.5px var(--green);">
         <!-- <app-bet-slip class="d-block p-0" [selected]="selected" [player]="player" [odds]="odds"></app-bet-slip> -->

         <div class="row m-0 p-0" style="height: 200px; background: black;">
            <div class="col-4 left px-2 py-0 h-100">
               <div class="row h-50">
                  <div class="col col-6">
                     <div class="info" data-bs-toggle="modal" data-bs-target="#single-panna"><img
                           src="../assets/images/info-circle.svg" width="15"></div>
                     <div (click)="mode='single'" class="btn button">
                        <p>Single</p>
                        <p class="points">1 Ka 9.5</p>
                     </div>
                  </div>
                  <div class="col col-6">
                     <div (click)="mode='single-panna'" class="btn button">
                        <p>Single Panna</p>
                        <p class="points">1 Ka 140</p>
                     </div>
                  </div>
               </div>
               <div class="row h-50">
                  <div class="col col-6">
                     <div (click)="mode='double-panna'" class="btn button">
                        <p>Double Panna</p>
                        <p class="points">1 Ka 240</p>
                     </div>
                  </div>
                  <div class="col col-6 position-relative">
                     <div class="info" data-bs-toggle="modal" data-bs-target="#total-panna"><img
                           src="../assets/images/info-circle.svg" width="15"></div>
                     <div (click)="mode='total-panna'" class="btn button">
                        <p>Total Panna</p>
                        <p class="points">1 Ka 700</p>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-4 pe-none"></div>
            <div *ngIf="mode == 'disabled' || mode == 'single' || mode == 'single-panna' || mode == 'double-panna'"
               class="col-4 right px-2 py-0">
               <div class="row h-25">
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)"
                        class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                        <p>1</p>
                        <p class="points">12.34</p>

                     </div>
                  </div>
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)"
                        class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                        <p>2</p>
                        <p class="points">12.34</p>

                     </div>
                  </div>
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)"
                        class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                        <p>3</p>
                        <p class="points">12.34</p>

                     </div>
                  </div>
               </div>
               <div class="row h-25">
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)"
                        class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                        <p>4</p>
                        <p class="points">12.34</p>

                     </div>
                  </div>
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)"
                        class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                        <p>5</p>
                        <p class="points">12.34</p>

                     </div>
                  </div>
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)"
                        class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                        <p>6</p>
                        <p class="points">12.34</p>

                     </div>
                  </div>
               </div>
               <div class="row h-25">
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)"
                        class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                        <p>7</p>
                        <p class="points">12.34</p>

                     </div>
                  </div>
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)"
                        class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                        <p>8</p>
                        <p class="points">12.34</p>

                     </div>
                  </div>
                  <div class="col col-4">
                     <div (click)="AddBet('Player A', 4.15)"
                        class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                        <p>9</p>
                        <p class="points">12.34</p>

                     </div>
                  </div>
               </div>
               <div class="row h-25">
                  <div class="col col-12 p-1">
                     <div (click)="AddBet('Player A', 4.15)"
                        class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                        <p>0</p>
                        <p class="points">12.34</p>

                     </div>
                  </div>
               </div>
            </div>

            <div *ngIf="mode == 'total-panna'" class="col-4 right px-2 py-0">
               <div class="row h-100">
                  <div class="col col-12 p-1">
                     <div (click)="AddBet('Player A', 4.15)"
                        class="btn button {{mode == 'total-panna' ? '':'disabled'}}">
                        <p>All</p>
                        <p class="points">12.34</p>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <app-bet-slip class="d-block d-md-none p-0" [selected]="selected" [player]="player" [odds]="odds"></app-bet-slip>

      <div class="row player-controls p-0 m-auto mobile show mt-4 position-relative"
         style="width: 85%; margin-bottom: 100px !important;">
         <div class="top overflow-hidden"
            style="border: 1.5px solid #f092ff; background: #101421; border-radius: 20px; box-shadow: 0px 0px 5px 0.5px #f092ff;">
            <div class="row">
               <div class="col p-1 position-relative">
                  <div class="info" data-bs-toggle="modal" data-bs-target="#single-panna"><img
                        src="../assets/images/info-circle.svg" width="15"></div>
                  <div (click)="mode='single'" class="btn">
                     <p>Single</p>
                     <p class="points">1 Ka 9.5</p>
                  </div>
               </div>
               <div class="col p-1">
                  <div (click)="mode='single-panna'" class="btn">
                     <p>Single Panna</p>
                     <p class="points">1 Ka 140</p>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col p-1">
                  <div (click)="mode='double-panna'" class="btn">
                     <p>Double Panna</p>
                     <p class="points">1 Ka 240</p>
                  </div>
               </div>
               <div class="col p-1 position-relative">
                  <div class="info" data-bs-toggle="modal" data-bs-target="#total-panna"><img
                        src="../assets/images/info-circle.svg" width="15"></div>
                  <div (click)="mode='total-panna'" class="btn">
                     <p>Total Panna</p>
                     <p class="points">1 Ka 700</p>
                  </div>
               </div>
            </div>
         </div>

         <div *ngIf="mode == 'disabled' || mode == 'single' || mode == 'single-panna' || mode == 'double-panna'"
            class="bottom overflow-hidden"
            style="margin-top: -20px; border: 1.5px solid var(--green); background: #101421; border-radius: 20px;">
            <div class="row">
               <div class="col p-1">
                  <div (click)="AddBet('Player A', 4.15)"
                     class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                     <p>1</p>
                     <p class="points">12.34</p>

                  </div>
               </div>
               <div class="col p-1">
                  <div (click)="AddBet('Player A', 4.15)"
                     class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                     <p>2</p>
                     <p class="points">12.34</p>

                  </div>
               </div>
               <div class="col p-1">
                  <div (click)="AddBet('Player A', 4.15)"
                     class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                     <p>3</p>
                     <p class="points">12.34</p>

                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col p-1">
                  <div (click)="AddBet('Player A', 4.15)"
                     class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                     <p>4</p>
                     <p class="points">12.34</p>

                  </div>
               </div>
               <div class="col p-1">
                  <div (click)="AddBet('Player A', 4.15)"
                     class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                     <p>5</p>
                     <p class="points">12.34</p>

                  </div>
               </div>
               <div class="col p-1">
                  <div (click)="AddBet('Player A', 4.15)"
                     class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                     <p>6</p>
                     <p class="points">12.34</p>

                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col p-1">
                  <div (click)="AddBet('Player A', 4.15)"
                     class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                     <p>7</p>
                     <p class="points">12.34</p>

                  </div>
               </div>
               <div class="col p-1">
                  <div (click)="AddBet('Player A', 4.15)"
                     class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                     <p>8</p>
                     <p class="points">12.34</p>

                  </div>
               </div>
               <div class="col p-1">
                  <div (click)="AddBet('Player A', 4.15)"
                     class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                     <p>9</p>
                     <p class="points">12.34</p>

                  </div>
               </div>
            </div>
            <div class="row">
               <div (click)="AddBet('Player A', 4.15)"
                  class="btn button {{mode == 'single' || mode == 'single-panna' || mode == 'double-panna' ? '':'disabled'}}">
                  <p>0</p>
                  <p class="points">12.34</p>

               </div>
            </div>
         </div>

         <div *ngIf="mode == 'total-panna'" class="bottom overflow-hidden"
            style="margin-top: -20px; border: 1.5px solid var(--green); background: #101421; border-radius: 20px;">
            <div class="row">
               <div class="col p-1">
                  <div (click)="AddBet('Player A', 4.15)" class="btn button {{mode == 'total-panna' ? '':'disabled'}}">
                     <p>All</p>
                     <p class="points">12.34</p>

                  </div>
               </div>
            </div>
         </div>
      </div>

      <app-bet-dial [selected]="selected" [state]="state" (messageEvent)="receiveMessage($event)"></app-bet-dial>
   </div>

   <div id="single-panna" tabindex="-1" class="infoModal modal fade" style="z-index: 99999999999;">
      <div class="modal-dialog modal-dialog-centered modal-lg">
         <div class="modal-content bg-transparent border-0">
            <div class="modal-body p-0 overflow-hidden p-4"
               style="box-shadow: 0px 30px 24px rgba(0, 0, 0, 0.6); background: #232A41F2; border: 2px solid #92ffd130; border-radius: 40px;">
               <h4>Single - Total Pana (10)</h4>
               <ul class="row p-0 m-auto g-2">
                  <li class="col-3">
                     <div>1</div>
                  </li>
                  <li class="col-3">
                     <div>2</div>
                  </li>
                  <li class="col-3">
                     <div>3</div>
                  </li>
                  <li class="col-3">
                     <div>4</div>
                  </li>
                  <li class="col-3">
                     <div>5</div>
                  </li>
                  <li class="col-3">
                     <div>6</div>
                  </li>
                  <li class="col-3">
                     <div>7</div>
                  </li>
                  <li class="col-3">
                     <div>8</div>
                  </li>
                  <li class="col-3">
                     <div>9</div>
                  </li>
                  <li class="col-3">
                     <div>0</div>
                  </li>
               </ul>
            </div>
            <button type="button" data-bs-dismiss="modal" class="btn-close"
               style="background: #232A41; border: 2px solid #8EF6CB; color: #83E5BF; font-family: Gilroy; border-radius: 50%; position: absolute; bottom: 0px; right: 0px; width: 24px; height: 24px; opacity: 1.0; line-height: 16px;">X</button>
         </div>
      </div>
   </div>

   <div id="total-panna" tabindex="-1" class="infoModal modal fade" style="z-index: 99999999999;">
      <div class="modal-dialog modal-dialog-centered modal-lg">
         <div class="modal-content bg-transparent border-0">
            <div class="modal-body p-0 overflow-hidden p-4"
               style="box-shadow: 0px 30px 24px rgba(0, 0, 0, 0.6); background: #232A41F2; border: 2px solid #92ffd130; border-radius: 40px;">
               <h4>TP - Total Pana (10)</h4>
               <ul class="row p-0 m-auto g-2">
                  <li class="col-3">
                     <div>111</div>
                  </li>
                  <li class="col-3">
                     <div>222</div>
                  </li>
                  <li class="col-3">
                     <div>333</div>
                  </li>
                  <li class="col-3">
                     <div>444</div>
                  </li>
                  <li class="col-3">
                     <div>555</div>
                  </li>
                  <li class="col-3">
                     <div>666</div>
                  </li>
                  <li class="col-3">
                     <div>777</div>
                  </li>
                  <li class="col-3">
                     <div>888</div>
                  </li>
                  <li class="col-3">
                     <div>999</div>
                  </li>
                  <li class="col-3">
                     <div>000</div>
                  </li>
               </ul>
            </div>
            <button type="button" data-bs-dismiss="modal" class="btn-close"
               style="background: #232A41; border: 2px solid #8EF6CB; color: #83E5BF; font-family: Gilroy; border-radius: 50%; position: absolute; bottom: 0px; right: 0px; width: 24px; height: 24px; opacity: 1.0; line-height: 16px;">X</button>
         </div>
      </div>
   </div>

   <app-popup></app-popup>

   <app-rules></app-rules>
</div>