.game-details{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px !important;
}
.newGameText{
    font-family: 'Casino', sans-serif;
    text-shadow: 0px 0px 6px #fa74ef;

    -webkit-text-shadow: 0px 0px 6px #fa74ef;
    -moz-text-shadow: 0px 0px 6px #fa74ef;
}

.bet-placed-container a{
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Casino", sans-serif;
    font-size: 18px;
    text-shadow: 0px 0px 10px #ffffff;

    -webkit-text-shadow: 0px 0px 10px #ffffff;
    -moz-text-shadow: 0px 0px 10px #ffffff;
    
    background: linear-gradient(247.74deg, #CB21E0 17.22%, #1CC3DE 79.49%);
    
    -webkit-background: linear-gradient(247.74deg, #CB21E0 17.22%, #1CC3DE 79.49%);
    -moz-background: linear-gradient(247.74deg, #CB21E0 17.22%, #1CC3DE 79.49%);

    filter: blur(40px);

    -webkit-filter: blur(40px);
    -moz-filter: blur(40px);

    padding: 6px 32px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));

    -webkit-filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));
    -moz-filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));
    z-index: 99;
    letter-spacing: 0.8px;
}
.bet-placed-container a::before{
    width: 100%;
    height: 100%;
    content: "";
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
    background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);

    -webkit-background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    -moz-background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);

    padding: 6px 32px;
    border-radius: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));

    -webkit-filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));
    -moz-filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));

    z-index: 99;
}
.games-cb-control{
    position: relative;
}
.bet-cb-btn{
    width: 160px;
    position: absolute;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 82%;
    left: 51%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 4;
    background: url(../../../assets/images/bet-cb.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bet-cb-btn h4{
    color: #FFFFFF;
    font-family: "Casino", sans-serif;
    margin: 28px 0 0;
    font-size: 35px;
    text-shadow: 0px 0px 2px #000;

    -webkit-text-shadow: 0px 0px 2px #000;
    -moz-text-shadow: 0px 0px 2px #000;
}
.games-btn{
    display: flex;
    justify-content: center;
    width: 1100px;
    height: 170px;
    background: url(../../../assets/images/background-color-line.png);
    margin: 0 auto;
    background-position: center;
    background-size: 100%;
    background-repeat: repeat;
    // clip-path: polygon(12% 0, 88% 0, 100% 100%, 0% 100%);
    border-radius: 10px;
    margin-bottom: 40px;
    overflow: hidden;
    position: relative;
}
.cb-first-layer{
    display: flex;
    justify-content: center;
    width: 1100px;
    height: 190px;
    background: url(../../../assets/images/background-color-line.png);
    margin: 0 auto;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-bottom: 40px;
    position: relative;
}
.cb-first-layer::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background: url(../../../assets/images/semi-curve.png);
    background-position: center;
    background-size: 94%;
    background-repeat: no-repeat;
    margin-top: 7.67px;
    z-index: 2;
}
.cb-first-layer::after{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 99.5%;
    height: 100%;
    background: url(../../../assets/images/Table-background.png);
    background-position: center;
    background-size: 99%;
    background-repeat: no-repeat;
    z-index: 1;
}
.btn-small-blur1{
    position: absolute;
    width: 44px;
    height: 44px;
    left: 482px;
    top: 30px;
    background: #5ebdd7;
    filter: blur(45px);

    -webkit-filter: blur(45px);
    -moz-filter: blur(45px);

    z-index: 3;
}
.btn-small-blur2{
    position: absolute;
    width: 44px;
    height: 44px;
    left: 564px;
    top: 30px;
    background: #C08FD2;
    filter: blur(45px);

    -webkit-filter: blur(45px);
    -moz-filter: blur(45px);

    z-index: 3;
}
.btn-small-blur3{
    position: absolute;
    width: 44px;
    height: 44px;
    left: 485px;
    top: 66px;
    background: rgba(192, 143, 210);
    filter: blur(35px);

    -webkit-filter: blur(35px);
    -moz-filter: blur(35px);

    z-index: 3;
}
.btn-small-blur4{
    position: absolute;
    width: 44px;
    height: 44px;
    left: 562px;
    top: 66px;
    background: rgba(192, 143, 210);
    filter: blur(35px);

    -webkit-filter: blur(35px);
    -moz-filter: blur(35px);

    z-index: 3;
}
.circle-blue-blur{
    position: absolute;
    width: 158px;
    height: 95px;
    top: 34px;
    right: 181px;
    background: rgba(94, 188, 215, 0.7);
    filter: blur(19px);

    -webkit-filter: blur(19px);
    -moz-filter: blur(19px);

    z-index: 2;
}

.game-btn-container{
    width: 100%;
    display: flex;
}
.game-btn-container .col-left{
    width: 450px;
    height: 164px;
    position: relative;
    top: 13px;
    left: 69px;
    display: flex;
    z-index: 2;
}
.game-btn-container .col-mid{
    width: 510px;
    height: 160px;
    position: relative;
    top: 16px;
    left: -8px;
    /* background-color: rgba(255, 0, 0, 0.425); */
    display: flex;
    justify-content: center;
    z-index: 3;
}
.game-btn-container .col-right{
    width: 345px;
    height: 166px;
    position: relative;
    top: 12px;
    left: -58px;
    /* background-color: rgba(255, 0, 179, 0.089); */
    display: flex;
    transform: skew(37deg);

    -webkit-transform: skew(37deg);
    -moz-transform: skew(37deg);

    z-index: 2;
}
.first-right-bg{
    width: 200px;
    display: flex;
    flex-direction: column;
    color: #fff;
}
.first-right-bg:nth-child(1){
    margin-right: 8px;
}
.first-right-bg:nth-child(2){
    margin-right: 6px;
}

.first-right-section{
    background: linear-gradient(175.19deg, #9A8BCE -67.57%, #13083A 60.73%);

    -webkit-background: linear-gradient(175.19deg, #9A8BCE -67.57%, #13083A 60.73%);
    -moz-background: linear-gradient(175.19deg, #9A8BCE -67.57%, #13083A 60.73%);

    box-shadow: 2px 14px 13.2554px rgba(10, 9, 11, 0.555), inset 0.295239px 3.3746px 3.38749px #5D5089;

    -webkit-box-shadow: 2px 14px 13.2554px rgba(10, 9, 11, 0.555), inset 0.295239px 3.3746px 3.38749px #5D5089;
    -moz-box-shadow: 2px 14px 13.2554px rgba(10, 9, 11, 0.555), inset 0.295239px 3.3746px 3.38749px #5D5089;

    border-radius: 10px;
    height: 80px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.second-right-section{
    background: linear-gradient(180deg, #51408B 0%, #1E1442 100%);

    -webkit-background: linear-gradient(180deg, #51408B 0%, #1E1442 100%);
    -moz-background: linear-gradient(180deg, #51408B 0%, #1E1442 100%);

    box-shadow: 1.60419e-15px 26.1984px 52.3968px rgba(17, 15, 26, 0.478), inset -7.41492e-16px -12.1095px 30px #180F3C, inset 7.41492e-16px 12.1095px 12.1095px #624FA8;
    
    -webkit-box-shadow: 1.60419e-15px 26.1984px 52.3968px rgba(17, 15, 26, 0.478), inset -7.41492e-16px -12.1095px 30px #180F3C, inset 7.41492e-16px 12.1095px 12.1095px #624FA8;
    -moz-box-shadow: 1.60419e-15px 26.1984px 52.3968px rgba(17, 15, 26, 0.478), inset -7.41492e-16px -12.1095px 30px #180F3C, inset 7.41492e-16px 12.1095px 12.1095px #624FA8;
    
    border-radius: 10px;
    height: 80px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
}
.br-20{
    border-bottom-right-radius: 20px !important;
}
.br-50{
    border-bottom-left-radius: 50px;
}
.b-br-23{
    border-bottom-right-radius: 23px !important;
}
.br-24{
    border-bottom-left-radius: 24px !important;
}
.br-10{
    border-bottom-left-radius: 10px !important; 
}
.first-right-section h4,
.second-right-section h4{
    font-weight: 300;
    font-size: 12px;
    transform: skew(-37deg);

    -webkit-transform: skew(-37deg);
    -moz-transform: skew(-37deg);

    margin-left: 10px;
    margin-bottom: 0px !important;
    text-transform: uppercase;
}
.first-right-section p,
.second-right-section p{
    font-weight: 300;
    transform: skew(-37deg);

    -webkit-transform: skew(-37deg);
    -moz-transform: skew(-37deg);

    font-size: 10px;
    margin-left: -10px;
    margin-bottom: 0px !important;
}
.coin-cb{
    width: 55px;
    height: 55px;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.coin-1{
    background: url(../../../assets/images/coin-btn.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 114px;
    left: 42px;
}
.coin-2{
    background: url(../../../assets/images/coin-btn.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 62px;
    left: 74px;
}
.coin-3{
    background: url(../../../assets/images/coin-btn.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 22px;
    left: 115px;
}
.coin-4{
    background: url(../../../assets/images/coin-red-btn.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 7px;
    left: 177px;
}
.coin-5{
    background: url(../../../assets/images/coin-btn.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 22px;
    left: 237px
}
.coin-6{
    background: url(../../../assets/images/coin-btn.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 62px;
    left: 281px;
}
.coin-7{
    background: url(../../../assets/images/coin-btn.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 114px;
    left: 314px;
}

.coin-cb p{
    margin: 0;
    // font-size: 9px !important;
}
.game-btn-container .col-left .first-left-bg{
    width: 80px;
    height: 100%;
    margin-right: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;
    padding: 2px;
    transform: skew(-37.8deg);

    -webkit-transform: skew(-37.8deg);
    -moz-transform: skew(-37.8deg);

    border-radius: 4px;
    background: black;
    overflow: hidden;
    background: linear-gradient(to bottom left, rgb(144, 40, 158), rgb(41, 102, 122), rgb(45, 132, 161));

    -webkit-background: linear-gradient(to bottom left, rgb(144, 40, 158), rgb(41, 102, 122), rgb(45, 132, 161));
    -moz-background: linear-gradient(to bottom left, rgb(144, 40, 158), rgb(41, 102, 122), rgb(45, 132, 161));
}
.first-inner-bg{
    width: 100%;
    height: 100%;
    margin-left: 2px;
    margin-right: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 0;
    border-radius: 4px;
    padding-bottom: 6px;
    background: black;
    position: relative;
    padding-left: 2px;
  
}
.first-inner-bg::before{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    content: "";
    background: url(../../../assets/images/section-bg.png);
    background-size: cover;
    background-position: 63% 50%;
    opacity: 0.6;
    background-repeat: no-repeat;
}
.game-btn-container .col-left .first-left-bg .first-section-bg img{
    width: 20px;
    margin-bottom: 9px;
}
.first-section{
    transform: skew(38deg);

    -webkit-transform: skew(38deg);
    -moz-transform: skew(38deg);
}
.second-section{
    width: 88%;
    height: 56px;
    margin-bottom: 5px;
    margin-left: -2px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    background: linear-gradient(180deg, #176371 0%, #29AEC8 100%);

    -webkit-background: linear-gradient(180deg, #176371 0%, #29AEC8 100%);
    -moz-background: linear-gradient(180deg, #176371 0%, #29AEC8 100%);

    box-shadow: 8.3276e-16px 13.6px 27.2px rgba(7, 28, 33, 0.492), inset -3.92322e-16px -6.40711px 6.40711px #145865, inset 3.92322e-16px 6.40711px 6.40711px #2BB9D5;

    -webkit-box-shadow: 8.3276e-16px 13.6px 27.2px rgba(7, 28, 33, 0.492), inset -3.92322e-16px -6.40711px 6.40711px #145865, inset 3.92322e-16px 6.40711px 6.40711px #2BB9D5;
    -moz-box-shadow: 8.3276e-16px 13.6px 27.2px rgba(7, 28, 33, 0.492), inset -3.92322e-16px -6.40711px 6.40711px #145865, inset 3.92322e-16px 6.40711px 6.40711px #2BB9D5;
}
.second-section-blur-effect{
    background: rgba(35, 32, 32, 0.1);
    box-shadow: inset 6.8px -6.8px 6.8px rgba(27, 24, 24, 0.1), inset -6.8px 6.8px 6.8px rgba(255, 255, 255, 0.1);

    -webkit-box-shadow: inset 6.8px -6.8px 6.8px rgba(27, 24, 24, 0.1), inset -6.8px 6.8px 6.8px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 6.8px -6.8px 6.8px rgba(27, 24, 24, 0.1), inset -6.8px 6.8px 6.8px rgba(255, 255, 255, 0.1);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.third-section{
    width: 88%;
    height: 52px;
    text-align: center;
    margin-left: -2px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    position: relative;
    background: linear-gradient(180deg, #7B2192 0%, #DC6EF8 100%);

    -webkit-background: linear-gradient(180deg, #7B2192 0%, #DC6EF8 100%);
    -moz-background: linear-gradient(180deg, #7B2192 0%, #DC6EF8 100%);

    box-shadow: 8.20513e-16px 13.4px 26.8px rgba(26, 7, 31, 0.4395), inset -3.59203e-16px -5.86622px 5.86622px #571667, inset 3.59203e-16px 5.86622px 5.86622px #A92AC8;

    -webkit-box-shadow: 8.20513e-16px 13.4px 26.8px rgba(26, 7, 31, 0.4395), inset -3.59203e-16px -5.86622px 5.86622px #571667, inset 3.59203e-16px 5.86622px 5.86622px #A92AC8;
    -moz-box-shadow: 8.20513e-16px 13.4px 26.8px rgba(26, 7, 31, 0.4395), inset -3.59203e-16px -5.86622px 5.86622px #571667, inset 3.59203e-16px 5.86622px 5.86622px #A92AC8;
}
.third-section-blur-effect{
    background: rgba(35, 32, 32, 0.1);
    box-shadow: inset 6.8px -6.8px 6.8px rgba(27, 24, 24, 0.1), inset -6.8px 6.8px 6.8px rgba(255, 255, 255, 0.1);

    -webkit-box-shadow: inset 6.8px -6.8px 6.8px rgba(27, 24, 24, 0.1), inset -6.8px 6.8px 6.8px rgba(255, 255, 255, 0.1);
    -moz-box-shadow: inset 6.8px -6.8px 6.8px rgba(27, 24, 24, 0.1), inset -6.8px 6.8px 6.8px rgba(255, 255, 255, 0.1);

    backdrop-filter: blur(2px);

    -webkit-backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.second-section h4,
.third-section h4{
    font-weight: 300;
    font-size: 12px;
    transform: skew(37deg);

    -webkit-transform: skew(37deg);
    -moz-transform: skew(37deg);

    margin-left: -10px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
.second-section p,
.third-section p{
    font-weight: 300;
    transform: skew(37deg);

    -webkit-transform: skew(37deg);
    -moz-transform: skew(37deg);

    font-size: 12px;
    margin-bottom: 0px;
}
.bottom-divider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom-divider img{
    width: 80%;
    margin-top: -47px;
}
.cb-live-showcase{
    position: absolute;
    top: -11px;
    right: 4px;
    width: 80px;
}
.cb-timer-showcase{
    position: absolute;
    top: -11px;
    left: -7px;
    width: 80px;
    height: 80px;
    background: url(../../../assets/images/timer-showcase.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cb-pl{
    display: flex;
    justify-content: space-around;
    width: 100%;
    transform: skew(-34deg);

    -webkit-transform: skew(-34deg);
    -moz-transform: skew(-34deg);
}
.cb-pl span{
    font-size: 10px;
    font-weight: bold;
}
.p-green{
    color: #16DFBC;
}
.l-red{
    color: #E81145;
}
.coin-left-btn img,
.coin-right-btn img{
    width: 56px !important;
}
.coin-left-btn img{
    z-index: 999;
    position: absolute;
    top: 124px;
    left: 16px;
    transform: scaleX(-1);
}
.coin-right-btn img{
    z-index: 999;
    position: absolute;
    top: 124px;
    right: 7px;
}
@media (max-width: 600px){
    .cb-timer-showcase{
        width: 75px;
        height: 75px;
        top: -7px;
    }
    .cb-live-showcase{
        position: absolute;
        top: -7px;
        right: 4px;
        width: 75px;
    }
}