.desktop-keyboard {
  @media (min-width: 767px) and (max-width: 1120px) {
    overflow: hidden;
    display: flex;
    justify-content: center;
    @media (min-width: 767px) {height: 165px;}
    @media (min-width: 940px) {height: 193px;}
    @media (min-width: 1024px) {height: 210px;}
    .cb-first-layer {
      justify-content: center;
      transform-origin: top;
      @media (min-width: 767px) {transform: scale(0.68);}
      @media (min-width: 940px) {transform: scale(0.8);}
      @media (min-width: 1024px) {transform: scale(0.89);}
    }
  }
}
.game-cb-container {
  @media (min-width: 767px) {
    overflow-x: auto;
  }
}
.game-details {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px !important;
}
.newGameText {
  font-family: "Casino", sans-serif;
  text-shadow: 0px 0px 6px #fa74ef;

  -webkit-text-shadow: 0px 0px 6px #fa74ef;
  -moz-text-shadow: 0px 0px 6px #fa74ef;
}
.betResult p {
  font-size: 24px;
  font-family: "Casino", sans-serif;
  color: #fff !important;
}
.bet-placed-container a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  font-family: "Casino", sans-serif;
  font-size: 18px;
  text-shadow: 0px 0px 10px #ffffff;

  -webkit-text-shadow: 0px 0px 10px #ffffff;
  -moz-text-shadow: 0px 0px 10px #ffffff;

  background: linear-gradient(247.74deg, #cb21e0 17.22%, #1cc3de 79.49%);

  -webkit-background: linear-gradient(247.74deg, #cb21e0 17.22%, #1cc3de 79.49%);
  -moz-background: linear-gradient(247.74deg, #cb21e0 17.22%, #1cc3de 79.49%);

  filter: blur(40px);

  -webkit-filter: blur(40px);
  -moz-filter: blur(40px);

  padding: 6px 32px;
  border-radius: 30px;
  position: unset;
  top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%);
  filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));

  -webkit-filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));
  -moz-filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));

  z-index: 99;
  letter-spacing: 0.8px;
}
.bet-placed-container a::before {
  width: 100%;
  height: 100%;
  content: "";
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  background: radial-gradient(97.57% 210.75% at 0.9% 2.98%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0) 100%);

  -webkit-background: radial-gradient(
    97.57% 210.75% at 0.9% 2.98%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  -moz-background: radial-gradient(
    97.57% 210.75% at 0.9% 2.98%,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(255, 255, 255, 0) 100%
  );

  padding: 6px 32px;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));

  -webkit-filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));
  -moz-filter: drop-shadow(0px 10px 30px rgba(0, 0, 0, 0.25));

  z-index: 99;
}
.games-cb-control {
  position: relative;
}
.bet-cb-btn {
  width: 160px;
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 82%;
  left: 51%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 4;
  background: url(../../../assets/images/bet-cb.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bet-cb-btn h4 {
  color: #ffffff;
  font-family: "Casino", sans-serif;
  margin: 28px 0 0;
  font-size: 35px;
  text-shadow: 0px 0px 2px #000;

  -webkit-text-shadow: 0px 0px 2px #000;
  -moz-text-shadow: 0px 0px 2px #000;
}
.games-btn {
  display: flex;
  justify-content: center;
  width: 1100px;
  height: 170px;
  background: url(../../../assets/images/background-color-line.png);
  margin: 0 auto;
  background-position: center;
  background-size: 100%;
  background-repeat: repeat;
  border-radius: 10px;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
}
.cb-first-layer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-bottom: 40px;
  position: relative;
  @media (min-width: 767px) {
    background-image: url(../../../assets/images/background-color-line.png);
    width: 1100px;
    height: 190px;
  }
  @media (max-width: 767px) {
    transform: scale(0.8);
    transform-origin: bottom center;
  }
}
.cb-first-layer::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: 94%;
  background-repeat: no-repeat;
  margin-top: 7.67px;
  z-index: 2;
  @media (min-width: 767px) {
    background-image: url(../../../assets/images/semi-curve.png);
  }
}
.cb-first-layer::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 99.5%;
  height: 100%;
  @media (min-width: 767px) {
    background-image: url(../../../assets/images/Table-background.png);
  }
  background-position: center;
  background-size: 99%;
  background-repeat: no-repeat;
  z-index: 1;
}
.btn-small-blur1 {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 482px;
  top: 30px;
  background: #5ebdd7;
  filter: blur(45px);

  -webkit-filter: blur(45px);
  -moz-filter: blur(45px);

  z-index: 3;
}
.btn-small-blur2 {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 564px;
  top: 30px;
  background: #c08fd2;
  filter: blur(45px);

  -webkit-filter: blur(45px);
  -moz-filter: blur(45px);
  z-index: 3;
}
.btn-small-blur3 {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 485px;
  top: 66px;
  background: rgba(192, 143, 210);
  filter: blur(35px);

  -webkit-filter: blur(35px);
  -moz-filter: blur(35px);
  z-index: 3;
}
.btn-small-blur4 {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 562px;
  top: 66px;
  background: rgba(192, 143, 210);
  filter: blur(35px);

  -webkit-filter: blur(35px);
  -moz-filter: blur(35px);
  z-index: 3;
}
.circle-blue-blur {
  position: absolute;
  width: 158px;
  height: 95px;
  top: 34px;
  right: 181px;
  background: rgba(94, 188, 215, 0.7);
  filter: blur(19px);

  -webkit-filter: blur(19px);
  -moz-filter: blur(19px);
  z-index: 2;
}


.game-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  @media (min-width: 767px) {
    justify-content: space-between;
  }
}
.game-btn-container .col-left {
  width: 450px;
  height: 164px;
  position: relative;
  top: 13px;
  left: 65px;
  display: flex;
  z-index: 2;
}
.game-btn-container .col-mid {
  width: 510px;
  height: 160px;
  position: relative;
  top: 16px;
  left: -8px;
  /* background-color: rgba(255, 0, 0, 0.425); */
  display: flex;
  justify-content: center;
  z-index: 3;
  margin: 0 auto;
}
.game-btn-container .col-right {
  width: 345px;
  height: 166px;
  position: relative;
  top: 12px;
  left: -58px;
  /* background-color: rgba(255, 0, 179, 0.089); */
  display: flex;
  transform: skew(37deg);

  -webkit-transform: skew(37deg);
  -moz-transform: skew(37deg);

  z-index: 2;
}

.spinBgImg {
  width: 100%;
  height: auto;
  left: 6px;
  right: 0;
  top: -18px;
  bottom: 0;
  margin: 0 auto;
  @media (max-width: 767px) {
    width: 535px;
    left: 52.4%;
    top: -2px;
    transform: translateX(-50%);
  }
}

.first-right-bg {
  width: 200px;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.first-right-bg:nth-child(1) {
  margin-right: 8px;
}
.first-right-bg:nth-child(2) {
  margin-right: 6px;
}
.first-right-section {
  width: 100%;
  background: linear-gradient(175.19deg, #9a8bce -67.57%, #13083a 60.73%);

  -webkit-background: linear-gradient(175.19deg, #9a8bce -67.57%, #13083a 60.73%);
  -moz-background: linear-gradient(175.19deg, #9a8bce -67.57%, #13083a 60.73%);

  box-shadow: 2px 14px 13.2554px rgba(10, 9, 11, 0.555), inset 0.295239px 3.3746px 3.38749px #5d5089;

  -webkit-box-shadow: 2px 14px 13.2554px rgba(10, 9, 11, 0.555), inset 0.295239px 3.3746px 3.38749px #5d5089;
  -moz-box-shadow: 2px 14px 13.2554px rgba(10, 9, 11, 0.555), inset 0.295239px 3.3746px 3.38749px #5d5089;

  border-radius: 10px;
  height: 80px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 10px 0;
}
.second-right-section {
  width: 100%;
  background: linear-gradient(180deg, #51408b 0%, #1e1442 100%);

  -webkit-background: linear-gradient(180deg, #51408b 0%, #1e1442 100%);
  -moz-background: linear-gradient(180deg, #51408b 0%, #1e1442 100%);

  box-shadow: 1.60419e-15px 26.1984px 52.3968px rgba(17, 15, 26, 0.478), inset -7.41492e-16px -12.1095px 30px #180f3c,
    inset 7.41492e-16px 12.1095px 12.1095px #624fa8;

  -webkit-box-shadow: 1.60419e-15px 26.1984px 52.3968px rgba(17, 15, 26, 0.478),
    inset -7.41492e-16px -12.1095px 30px #180f3c, inset 7.41492e-16px 12.1095px 12.1095px #624fa8;
  -moz-box-shadow: 1.60419e-15px 26.1984px 52.3968px rgba(17, 15, 26, 0.478),
    inset -7.41492e-16px -12.1095px 30px #180f3c, inset 7.41492e-16px 12.1095px 12.1095px #624fa8;

  border-radius: 10px;
  height: 80px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 10px 0;
}
.br-20 {
  border-bottom-right-radius: 20px !important;
}

.b-bl-20 {
  border-bottom-left-radius: 20px !important;
}
.b-br-23 {
  border-bottom-right-radius: 23px !important;
}
.br-50 {
  border-bottom-left-radius: 50px;
}
.br-24 {
  border-bottom-left-radius: 24px !important;
}
.br-10 {
  border-bottom-left-radius: 10px !important;
}
.br-32 {
  border-bottom-right-radius: 32px !important;
}
.first-right-section img,
.second-right-section img {
  transform: skew(-37deg);

  -webkit-transform: skew(-37deg);
  -moz-transform: skew(-37deg);

  width: 25px;
  height: 25px;
  margin-top: -2px;
}
.first-right-section h4,
.second-right-section h4 {
  font-weight: 300;
  transform: skew(-37deg);

  -webkit-transform: skew(-37deg);
  -moz-transform: skew(-37deg);

  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px !important;
  text-transform: uppercase;
  font-family: "Casino", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}
.second-right-section h4 {
  margin-right: 15px !important;
}
.first-right-section p,
.second-right-section p {
  font-weight: 300;
  transform: skew(-37deg);

  -webkit-transform: skew(-37deg);
  -moz-transform: skew(-37deg);

  font-size: 10px;
  margin-left: -10px;
  margin-bottom: 0px !important;
}
.coin-cb {
  width: 55px;
  height: 55px;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.coin-1 {
  background: url(../../../assets/images/coin-btn.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 114px;
  left: 42px;
}
.coin-2 {
  background: url(../../../assets/images/coin-btn.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 62px;
  left: 74px;
}
.coin-3 {
  background: url(../../../assets/images/coin-btn.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 22px;
  left: 115px;
}
.coin-4 {
  background: url(../../../assets/images/coin-red-btn.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 7px;
  left: 177px;
}
.coin-5 {
  background: url(../../../assets/images/coin-btn.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 22px;
  left: 237px;
}
.coin-6 {
  background: url(../../../assets/images/coin-btn.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 62px;
  left: 281px;
}
.coin-7 {
  background: url(../../../assets/images/coin-btn.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 114px;
  left: 314px;
}

.coin-cb p {
  margin: 0;
  // font-size: 9px !important;
}
.game-btn-container .col-left .first-left-bg {
  width: 168px;
  height: 100%;
  margin-right: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  transform: skew(-36.8deg);

  -webkit-transform: skew(-36.8deg);
  -moz-transform: skew(-36.8deg);

  border-radius: 4px;
  background: black;
  overflow: hidden;
  background: linear-gradient(to bottom left, rgb(144, 40, 158), rgb(41, 102, 122), rgb(45, 132, 161));

  -webkit-background: linear-gradient(to bottom left, rgb(144, 40, 158), rgb(41, 102, 122), rgb(45, 132, 161));
  -moz-background: linear-gradient(to bottom left, rgb(144, 40, 158), rgb(41, 102, 122), rgb(45, 132, 161));
}
.first-inner-bg {
  width: 100%;
  height: 100%;
  margin-left: 2px;
  margin-right: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 6px;
  border-radius: 4px;
  background: black;
  position: relative;
  padding-left: 2px;
}
.first-inner-bg::before {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  content: "";
  background: url(../../../assets/images/section-bg.png);
  background-size: cover;
  background-position: 63% 50%;
  opacity: 0.6;
  background-repeat: no-repeat;
}
.game-btn-container .col-left .first-left-bg .first-section-bg img {
  width: 20px;
  margin-bottom: 6px;
  margin-top: -4px;
}
.first-section {
  transform: skew(38deg);

  -webkit-transform: skew(38deg);
  -moz-transform: skew(38deg);
}
.second-section.active {
  background: linear-gradient(180deg, #176371 0%, #29aec8 100%);

  -webkit-background: linear-gradient(180deg, #176371 0%, #29aec8 100%);
  -moz-background: linear-gradient(180deg, #176371 0%, #29aec8 100%);

  box-shadow: 8.3276e-16px 13.6px 27.2px rgba(7, 28, 33, 0.492), inset -3.92322e-16px -6.40711px 6.40711px #145865,
    inset 3.92322e-16px 6.40711px 6.40711px #2bb9d5;

  -webkit-box-shadow: 8.3276e-16px 13.6px 27.2px rgba(7, 28, 33, 0.492),
    inset -3.92322e-16px -6.40711px 6.40711px #145865, inset 3.92322e-16px 6.40711px 6.40711px #2bb9d5;
  -moz-box-shadow: 8.3276e-16px 13.6px 27.2px rgba(7, 28, 33, 0.492), inset -3.92322e-16px -6.40711px 6.40711px #145865,
    inset 3.92322e-16px 6.40711px 6.40711px #2bb9d5;
}
.second-section {
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  margin-left: 5px;
  background: url(../../../assets/images/shade-andar-bahar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
// .second-section.active .second-section-blur-effect{
//     background: linear-gradient(182deg, #571567 0%, #8E23A8 96.68%);
//     opacity: 0.6;
//     box-shadow: -0.651693px 18.6621px 37.3469px rgba(24, 6, 28, 0.4255), inset 0.279504px -8.00395px 8.00883px #4F135D, inset -0.279504px 8.00395px 8.00883px #9525B1;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     border-radius: 5px;
// }
.second-section-blur-effect {
  background: none;
  opacity: 0.6;
  box-shadow: -0.651693px 18.6621px 37.3469px rgba(24, 6, 28, 0.4255), inset 0.279504px -8.00395px 8.00883px #4f135d,
    inset -0.279504px 8.00395px 8.00883px #9525b1;

  -webkit-box-shadow: -0.651693px 18.6621px 37.3469px rgba(24, 6, 28, 0.4255),
    inset 0.279504px -8.00395px 8.00883px #4f135d, inset -0.279504px 8.00395px 8.00883px #9525b1;
  -moz-webkit-box-shadow: -0.651693px 18.6621px 37.3469px rgba(24, 6, 28, 0.4255),
    inset 0.279504px -8.00395px 8.00883px #4f135d, inset -0.279504px 8.00395px 8.00883px #9525b1;
}
.second-section-bg {
  width: 100%;
  padding: 10px 0;
}

.third-section {
  width: 88%;
  height: 52px;
  text-align: center;
  margin-left: -2px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  position: relative;
  background: linear-gradient(180deg, #7b2192 0%, #dc6ef8 100%);

  -webkit-background: linear-gradient(180deg, #7b2192 0%, #dc6ef8 100%);
  -moz-background: linear-gradient(180deg, #7b2192 0%, #dc6ef8 100%);

  box-shadow: 8.20513e-16px 13.4px 26.8px rgba(26, 7, 31, 0.4395), inset -3.59203e-16px -5.86622px 5.86622px #571667,
    inset 3.59203e-16px 5.86622px 5.86622px #a92ac8;

  -webkit-box-shadow: 8.20513e-16px 13.4px 26.8px rgba(26, 7, 31, 0.4395),
    inset -3.59203e-16px -5.86622px 5.86622px #571667, inset 3.59203e-16px 5.86622px 5.86622px #a92ac8;
  -moz-box-shadow: 8.20513e-16px 13.4px 26.8px rgba(26, 7, 31, 0.4395),
    inset -3.59203e-16px -5.86622px 5.86622px #571667, inset 3.59203e-16px 5.86622px 5.86622px #a92ac8;
}
.third-section-blur-effect {
  background: rgba(35, 32, 32, 0.1);
  box-shadow: inset 6.8px -6.8px 6.8px rgba(27, 24, 24, 0.1), inset -6.8px 6.8px 6.8px rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: inset 6.8px -6.8px 6.8px rgba(27, 24, 24, 0.1), inset -6.8px 6.8px 6.8px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: inset 6.8px -6.8px 6.8px rgba(27, 24, 24, 0.1), inset -6.8px 6.8px 6.8px rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  -moz-backdrop-filter: blur(2px);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.second-section h4,
.third-section h4 {
  font-weight: 300;
  font-size: 24px;
  transform: skew(37deg);

  -webkit-transform: skew(37deg);
  -moz-transform: skew(37deg);

  margin-left: -10px;
  text-transform: uppercase;
  margin-bottom: 0px;
  font-family: "Casino", sans-serif;
  color: #fff;
}
.second-section-bg img {
  transform: skew(37deg);

  -webkit-transform: skew(37deg);
  -moz-transform: skew(37deg);

  width: 36px;
  margin: 12px 0;
}
.second-section p,
.third-section p {
  font-weight: 300;
  transform: skew(37deg);

  -webkit-transform: skew(37deg);
  -moz-transform: skew(37deg);

  font-size: 12px;
  margin-bottom: 0px;
}
.bottom-divider {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-divider img {
  width: 80%;
  margin-top: -47px;
}
.cb-live-showcase {
  position: absolute;
  top: -11px;
  right: 4px;
  width: 80px;
}
.cb-timer-showcase {
  position: absolute;
  top: -11px;
  left: -7px;
  width: 80px;
  height: 80px;
  background: url(../../../assets/images/timer-showcase.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cb-pl {
  display: flex;
  justify-content: space-around;
  width: 100%;
  transform: skew(-34deg);

  -webkit-transform: skew(-34deg);
  -moz-transform: skew(-34deg);
}
.cb-pl span {
  font-size: 10px;
  font-weight: bold;
}
.p-green {
  color: #16dfbc;
}
.l-red {
  color: #e81145;
}
.coin-left-btn img,
.coin-right-btn img {
  width: 56px !important;
}
.coin-left-btn img {
  z-index: 999;
  position: absolute;
  top: 124px;
  left: 16px;
  transform: scaleX(-1);

  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
}
.coin-right-btn img {
  z-index: 999;
  position: absolute;
  top: 124px;
  right: 7px;
}
.show-pl-odds {
  display: flex;
  padding: 0 10px;
  width: 100%;
  justify-content: space-between;
}
.show-pl-odds h5,
.show-pl-odds p {
  transform: skew(34deg);

  -webkit-transform: skew(34deg);
  -moz-transform: skew(34deg);

  margin: 0;
}
.show-pl-odds h5 {
  font-size: 12px;
}
.show-pl-odds p {
  font-size: 15px;
  color: #b7fcf8;
  margin-left: 15px;
}

.mobile-only {
  display: none;
}
@media (max-width: 767px) {
  .newGameText {
    font-size: 2rem !important;
  }
  .bottom-divider img {
    width: 100%;
    margin-top: 0;
  }
  .cb-timer-showcase {
    width: 75px;
    height: 75px;
    top: -7px;
  }
  .cb-live-showcase {
    position: absolute;
    top: -7px;
    right: 4px;
    width: 75px;
  }
}
.mb-outer-border {
  position: relative;
  border: 1.5px solid #f092ff;
  border-radius: 20px;
  box-shadow: 0px -1px 11px -3px #f092ff;
  -webkit-box-shadow: 0px -1px 11px -3px #f092ff;
  -moz-box-shadow: 0px -1px 11px -3px #f092ff;
  background: url(../../../assets/images/player-cards.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn.mb-btn-shade {
  height: 124px !important;
  background: url(../../../assets/images/shade-andar-bahar.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150% 100%;
  box-shadow: none !important;
  justify-content: flex-start !important;
  padding: 10px 0;
  align-items: center !important;
}
.mb-inner-layer {
  padding: 3px !important;
}
.mb-inner-layer:nth-child(1) .btn.mb-btn-shade {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 16px;
}
.mb-inner-layer:nth-child(2) .btn.mb-btn-shade {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 16px;
}
.btn.mb-btn-shade p {
  font-family: "Casino", sans-serif !important;
}
.bottom .btn.small-blocks {
  height: 72px !important;
  justify-content: flex-start !important;
  padding: 5px 0 10px;
  align-items: center !important;
}
.bottom {
  position: relative;
}
.bottom.mb-outer-border::before {
  content: "";
  position: absolute;
  width: 138px;
  height: 65px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(94, 188, 215, 0.7);
  filter: blur(19px);

  -webkit-filter: blur(19px);
  -moz-filter: blur(19px);
  z-index: -1;
}
.mb-action-tray {
  width: 100%;
  margin-top: 40px;
  position: relative;
  height: 88px;
}

@media (min-width: 767px) {
  .mb-action-tray {
    display: none;
  }
}
@media (max-width: 767px) {
  .desktop-only {
    display: none !important;
  }
}

.rotating-slider {
  margin: 5em auto;
  height: 360px;
  position: relative;
  width: 480px;
}
.rotating-slider ul.direction-controls {
  list-style: none;
  margin: 0;
  padding: 0;
}
.rotating-slider ul.direction-controls li.left-arrow {
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
}
.rotating-slider ul.direction-controls li.right-arrow {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}
.rotating-slider ul.direction-controls li button {
  background: rgba(0, 0, 0, 0.2);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.5em;
  font-weight: bold;
  height: 1.5em;
  line-height: 1.5em;
  padding: 0;
  text-align: center;
  transition: background 0.25s;
  width: 1.5em;
}
.rotating-slider ul.direction-controls li button:hover {
  background: rgba(0, 0, 0, 0.6);
}
.rotating-slider ul.slides {
  border-radius: 50%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(0);
  transform-origin: center center;
  width: 100%;
}
.rotating-slider ul.slides li {
  background-color: #ecf0f1;
  background-position: center;
  background-size: cover;
  display: block;
  list-style: none;
  position: absolute;
  top: 0;
  left: 50%;
  text-align: center;
  transform-origin: bottom center;
  width: 100%;
}

/* Demo Styles */
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,700);
body {
  background: #333;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 300;
  overflow: hidden;
}
.rotating-slider ul.slides li {
  color: #fff;
}
.rotating-slider ul.slides li:nth-of-type(1) {
  background: #3498db;
}
.rotating-slider ul.slides li:nth-of-type(2) {
  background: url("http://static.pexels.com/wp-content/uploads/2014/05/car-oldtimer-snow-342-825x550.jpg");
}
.rotating-slider ul.slides li:nth-of-type(3) {
  background: #e74c3c;
}
.rotating-slider ul.slides li:nth-of-type(4) {
  background: url("http://static.pexels.com/wp-content/uploads/2014/06/analog-camera-old-olympus-om-10-1528-825x550.jpg");
}
.rotating-slider ul.slides li:nth-of-type(5) {
  background: #f1c40f;
}
.rotating-slider ul.slides li:nth-of-type(6) {
  background: url(http://static.pexels.com/wp-content/uploads/2014/06/bridge-city-night-645-827x550.jpg);
}
.rotating-slider ul.slides li .inner {
  box-sizing: border-box;
  padding: 2em;
  height: 100%;
  width: 100%;
}

// Slider
.coinSlideInput {
  appearance: none;
  background: transparent;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: center;
  font-size: 18px;
  display: none;
  &:focus {
    outline: none;
  }
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }
}
.coin-selected {
  .coin-cb {
    p {
      display: none;
    }
    input {
      display: block;
    }
  }
}

.cycleTimer {
  width: 72%;
  top: 15px;
  left: 9px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.circle {
  transform: rotate(270deg);
}
svg circle {
  transition: 1s;
}

.font-primary {
  font-family: "Casino", sans-serif;
}
.circle-inner {
  height: 450px;
  background-color: moccasin;
  width: 450px;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 10%;
  text-align: center;
}
.time {
  text-align: center;
  font-size: 6em;
  margin-top: 50px;
}
.btn-start {
  padding: 10px 40px;
  border: none;
  border-radius: 5px;
  background-color: #fd5959;
  font-size: 30px;
  margin-top: 20%;
  cursor: pointer;
}

.anim-end-timer {
  opacity: 0;
}

@media (min-width: 1281px) {
  .game-cb-container.desktop-keyboard {
    transform: scale(1.23);
    transform-origin: top;
    margin-bottom: 40px;
  }
}

// responsive Keybord
@media (max-width: 767px) {
  .game-cb-container.desktop-keyboard {
    // position: absolute;
    // top: 10px;
    // left: 100%;
    // width: 115%;
    transition: 0.3s;
    &.batsliderrispo {
      left: -7.5%;
    }
  }
}

@media (min-width: 1024px) {
  .keybordbox {
    transform: scale(1.3);
    margin: 100px auto 70px;
  }
}

.mt-top {
  margin-top: -9.9%;
  @media (max-width: 425px) {
    margin-top: -22%;
  }
}

.doranim {
  position: relative;
  &> * {
    // transform: scale(.75);
    transform-origin: center;
    transition: .8s ease-in-out;
  }
  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 51%;
    top: 0;
    height: 100%;
    background-color: #052551;
    z-index: 2;
    transition: 1s ease-in-out;
  }
  &::after {
    right: 0;
  }
  &::before {
    left: 0;
  }
  &.opendoor:after,
  &.opendoor:before,
  &:hover:after,
  &:hover:before {
    width: 0%;
  }
  &:hover {
    &> *{
      // transform: scale(1);
    }
  }
}

.mobailGameKeybord {
  @media (max-width: 767px) { 
    display: flex;
    align-items: center;
    width: 200vw;
    right: 0;
    transition: .8s;
    &.click {
      right: 100%;
    }
    &>div {
      width: 100vw;
    }
  }
  
}