.dealerHolder {
  width: 150px;
  height: 150px;
  text-align: center;
  position: relative;
  z-index: 9999;

  @media (min-width: 1280px) {
    width: 225px;
    height: 225px;
  }
}

.dealer {
  width: 300px;
  height: 300px;
  transform: scale(0.5) translateX(-50%);
  transform-origin: 0 0;

  // transition: .3s ease-in-out;
  
  position: absolute;
  z-index: 99;
  left: 50%;
  // transform: scale(0.75);

  @media (min-width: 1280px) {
    transform: scale(0.75) translateX(-50%);
  }

  background: url('../../../assets/animations/dialerAnimation.png');
  // background-size: auto 300px !important;
  background-size: auto 1800px !important;
  
  // &.gesture-A {
  //   background: url('../../../assets/animations/gesture-A.png');
  //   animation: gesture-A 2s steps(45) infinite;
  // }

  // 1
  &.breathe {
    background-size: auto 300px !important;
    background: url('../../../assets/animations/breathe2.png');
    animation: breathe 2s steps(25) infinite;
    transform: scale(0.756) translateX(-50%);top: 19px;
  }
  // 2
  &.putting {
    animation: putting 8s steps(139) infinite;
    background-size: auto 300px !important;
    transform: scale(0.71) translateX(-50%);
    background: url('../../../assets/animations/PuttingCard.png');
    top: 12px;
  }
  // 3
  &.gesture-B {
    background: url('../../../assets/animations/hand-gesture-final.png');
    animation: gesture-B 15s steps(350) infinite;
    background-size: auto 300px !important;
    top: -15px;
    left: 40%;
    right: 0;
  }
  // 4
  &.shuffleing {
    animation: shuffleing 5s steps(126);
    background-size: auto 300px !important;
    transform: scale(0.8) translateX(-50%);
    background: url('../../../assets/animations/CardsShuffleing.png');
    top: -24px;
    top: 0px;
    @media (max-width: 1280px) {transform: scale(0.53) translateX(-50%);}
  }
  // 5 
  &.cardDistribution {
    animation: cardDistribution 8s steps(120) infinite;
    background-size: auto 300px !important;
    transform: scale(0.7) translateX(-50%);
    background: url('../../../assets/animations/Card-Distribution.png');
    top: 18px;
  }
  // 6
  &.clapping {
    animation: clapping 5s steps(171) infinite;
    background-size: auto 300px !important;
    transform: scale(0.65) translateX(-50%);
    background: url('../../../assets/animations/clapping.png');
  }
  // 
  // &.animation {
  //   background: url('../../../assets/animations/test/animation.png');
  //   animation: breathe 2s steps(25) infinite;
  // }

  &.A1 {background-position-x: 0; background-position-y: 0;animation: A1 3s steps(24) infinite;
    @media (min-width: 1280px) {
      transform: scale(0.75) translateX(-50%);
    }
  }
  &.A2 {background-position-x: 0; background-position-y: -300px;animation: A2 8s steps(139) infinite;
    transform: scale(0.45) translateX(-50%);
    @media (min-width: 1280px) {
      transform: scale(0.71) translateX(-50%);
    }
    top: 11px;}
  &.A3 {background-position-x: 0; background-position-y: -600px;animation: A3 15s steps(350) infinite;
    transform: scale(0.45) translateX(-50%);
    @media (min-width: 1280px) {
      transform: scale(0.7) translateX(-50%);
    }
    top: 5px;left: 40%;right: 0;}
  &.A4 {background-position-x: 0; background-position-y: -900px;animation: A4 5s steps(126) infinite;
    transform: scale(0.53) translateX(-50%);
    @media (min-width: 1280px) {
      transform: scale(0.79) translateX(-50%);
    }
    top: -8px;}
  &.A5 {background-position-x: 0; background-position-y: -1200px;animation: A5 8s steps(120) infinite;
    transform: scale(0.47) translateX(-50%);
    @media (min-width: 1280px) {
      transform: scale(0.73) translateX(-50%);
    }
    top: 6px;}
  &.A6 {background-position-x: 0; background-position-y: -1500px;animation: A6 5s steps(171) infinite;
    transform: scale(0.4) translateX(-50%);
    @media (min-width: 1280px) {
      transform: scale(0.64) translateX(-50%);
    }
    top: 13px;}
}

@keyframes gesture-A {
  100% {background-position-x: -13500px;}
}
@keyframes breathe {
  100% {background-position-x: -7500px;}
}
@keyframes putting {
  100% {background-position-x: -41700px;}
}
@keyframes gesture-B {
  100% {background-position-x: -105000px;}
}
@keyframes shuffleing {
  100% {background-position-x: -37800px;}
}
@keyframes cardDistribution {
  100% {background-position-x: -36000px;}
}
@keyframes clapping {
  100% {background-position-x: -51300px;}
}

// New Full
@keyframes A1 {
  50% {background-position-x: -7200px;}
  80% {background-position-x: -7200px;}
}
@keyframes A2 {
  0% {background-position-x: 0px;}
  100% {background-position-x: -41700px;}
}
@keyframes A3 {
  0% {background-position-x: 0px;}
  100% {background-position-x: -105000px;}
}
@keyframes A4 {
  0% {background-position-x: 0px;}
  100% {background-position-x: -37800px;}
}
@keyframes A5 {
  0% {background-position-x: 0px;}
  100% {background-position-x: -36000px;}
}
@keyframes A6 {
  0% {background-position-x: 0px;}
  100% {background-position-x: -51300px;}
}

.table {
  position: relative;
  z-index: -1;
  // margin-top: -124px;

  // @media (max-width: 1024px) {
  //   margin-top: -169px;
  // }
  // @media (max-width: 992px) {
  //   margin-top: -10px;
  // }

  // @media (max-width: 411px) {
  //   margin-left: -33px;
  //   width: 117%;
  // }

  // @media (max-width: 414px) {
  //   margin-left: -33px;
  //   width: 117%;
  // }

  // @media (max-width: 540px) {
    //   margin-left: -33px;
    //   width: 117%;
    // }
    &.newrespo {
      @media (max-width: 540px) {
        margin-top: -36px;
        transform: translateX(-25%);
        width: 200% !important;
      }
      @media (min-width: 540px) {
        margin-top: -5%;
      }
      @media (min-width: 768px) {
        margin-top: -4.1%;
      }
      @media (min-width: 992px) {
        margin-top: -3.5%;
      }
      @media (min-width: 1280px) {
        margin-top: -52px;
      }
    }
}

// new Added
.livecard {
  // height: 32px;
  // width: 25px;
  // perspective: 500px;
  display: inline-block;
  margin: 0 9px;

  @media (max-width: 768px) {
    margin: 0 3px;
  }
}

.Virtuallivecard {
  /* height: 32px; */
  width: 80px;
  perspective: 500px;
  display: inline-block;
  margin: 1px -33px 0 0;
  // margin: 0 2px;

  // @media (max-width: 768px) {
  //   margin: 0 3px;
  // }

  @media screen and (max-width: 1024px) {
    width: 73px;
  }
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transition: all 3s ease-in;
  color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.playername {
  // background: rgb(123 97 126);
  // border: 2px solid #b482e0;
  // padding: 2px 10px;
  // letter-spacing: 0;
  // border-radius: 20px;
  // font-weight: 700;
  // width: auto;
  // height: auto;

  border: 2px solid #b482e0;
  letter-spacing: 0;
  border-radius: 23px;
  font-size: smaller;
}

.democard {
  width: 30px;
  height: 45px;
  background-size: cover;
  z-index: 3588;
  top: 40.5%;
  left: 77.5%;
}

.playernameCQ {
  color: #fff;
  background: rgba(0, 0, 0, .6);
  border: 2px solid #b482e0;
  padding: 2px 5px;
  border-radius: 20px;
  font-weight: 700;

}

.roundnumber {
  display: inline-block;
  min-width: 10px;
  padding: 2px 3px 4px 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: text-top;
  background-color: #777;
  border-radius: 10px;
}

.columnDevider {
  border-right: 5px solid #fff;
}


.spade-card {
  padding-left: 160px;
}

.heart-card {
  padding-left: 110px;
}

.club-card {
  padding-left: 30px;
}

.diamond-card {
  padding-left: 0px;
  margin-left: -15px;
}

.livecard {
  cursor: pointer;
}

.livecardKR {
  height: 32px;
  width: 25px;
  perspective: 500px;
  display: inline-block;
  margin: 0 2px;
}

.tableBtn {
  // height: 100%;
  border-radius: 0;
  border-top-left-radius: 19px;
  border-bottom-left-radius: 10px;
  // background: linear-gradient(175.19deg, #9A8BCE -67.57%, #13083A 60.73%);
  // box-shadow: 2px 14px 13.2554px rgb(10 9 11 / 56%), inset -0.295239px -3.3746px 3.38749px #11053c, inset 0.295239px 3.3746px 3.38749px #5d5089;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 19px;
  transform: skew(337deg);
  // height: 90%;
  // width: 16%;

  @media (max-width: 768px) {
    height: 32%;
  }
}



.heightRow {
  height: 34%;

  @media (max-width: 768px) {
    height: 12%;
  }
}

.sideimg {
  -webkit-transform: perspective(200) rotate3d(0.5, 0, 0,
      35deg) translateY(-50px);
}

.tablebox {
  position: relative;
  right: 0%;
  left: 58%;
  top: -89px;
  bottom: 106px;
  cursor: pointer;
  width: 5%;

  @media (max-width : 414px) {
    right: 0%;
    left: 57%;
    top: -73px;
    /* bottom: 106px; */
    cursor: pointer;
    width: 20%;
  }

  // @media (max-width : 540px) {
  //   width: 13%;
  // }

  @media (max-width : 1024px) {
    top: -70px;
  }
}

.imgsize {
  width: 50%;
  -webkit-transform: perspective(125) rotate3d(0.5, 0, 0, 35deg) translateY(-10px);
  box-shadow: 2px 14px 13.2554px rgb(10 9 11 / 56%), inset -0.295239px -3.3746px 3.38749px #11053c, inset 0.295239px 3.3746px 3.38749px #5d5089;
  @media (max-width: 992px) {
    box-shadow: 2px 2px 5px rgb(10 9 11 / 31%), inset -0.295239px -3.3746px 3.38749px rgb(17, 5, 60), inset 0.295239px 3.3746px 3.38749px rgb(93, 80, 137);
  }
  @media (max-width: 540px) {
    width: 35%;
  }
}


.marginMainRow {
  margin-top: -50px;
  @media (max-width: 992px) {
    margin-top: -30px;
  }
  @media (max-width: 411px) {
    margin-top: 14px;
  }
  @media (max-width: 414px) {
    margin-top: 5px;
  }
}

.addTop {
  top: 0;
}

.marginpokerrow {
  margin-top: -6%;
}

.runnername {
  font-family: "Casino" !important;
  font-size: 30px;
  font-weight: 400;
  color: #2FABDD;
  @media (max-width: 1024px) {
    font-size: 22px;
  }
}
.cardSize {
  min-width: 60px !important;
  width: 60px !important;
  max-width: 60px !important;
  @media (max-width: 1024px) {
    min-width: 40px !important;
    width: 40px !important;
    max-width: 40px !important;
  }
}
.cardPerspective {
  -webkit-transform: perspective(220) rotate3d(0.5, 0, 0, 25deg) translateY(-9px);
  @media (max-width: 991px) {-webkit-transform: perspective(220) rotate3d(0.5, 0, 0, 25deg) translateY(0px);padding-top: 10px;}
  @media (max-width: 767px) {-webkit-transform: perspective(220) rotate3d(0.5, 0, 0, 25deg) translateY(-7px);padding-top: 10px;}
  @media (max-width: 767px) {height: 80px;}
  @media (min-width: 991px) {height: 80px;}
  @media (min-width: 1024px) {height: 110px;}
}
.nonbox {
  opacity: 0;
  position: relative;
  z-index: -3;
  display:none;
}
.tablebox.andarBahar {
  position: absolute;
  // width: 75px;
  // right: 10px !important;
  // top: -52px;
  
  width: 55px;
  right: 110px !important;
  top: -44px;

  left: auto;
  @media (max-width: 1024px) {
    width: 55px;
    top: -30px;
    right: 20px !important;
    z-index: 999;
  }
  @media (max-width: 576px) {
    width: 45px;
    right: 0px !important;
    top: -60px;
  }
}
.stackCard {
  .livecard {
    position: relative;
    &.card {
      &1 {z-index: 3;}
      &2 {z-index: 2;}
      &3 {z-index: 1;}
    }
    &:not(:first-child) {
      margin-left: -30px !important;
    }
    .imgsize {
      transform: unset;
    }
    // &:hover {z-index: 20;}
  }
  &.rtl {
    .livecard {
      &:not(:first-child) {
        margin-left: 0 !important;
        margin-right: -30px !important;
      }
    }
  }
}
.svglogotable {
  transform: scale(.9);
  @media (min-width: 1024px) { 
    // transform: scale(1.8);
  }
}
@media screen and (max-width: 360px) {
  .marginpokerrow {
    margin-top: 0%;
  }
}


@media screen and (max-width: 414px) {
  .marginpokerrow {
    margin-top: 0% !important;
  }
  .addTop {
    top: -150px;
  }
}

@media screen and (max-width: 540px) {
  .marginpokerrow {
    margin-top: 0% !important;
  }
  .restscale {
    transform: scale(0.8);
    margin-top: -38px;
  }
}



@media screen and (max-width: 768px) {
  .addTop {
    top: -150px;
  }
}

@media screen and (max-width: 1280px) {
  .marginpokerrow {
    margin-top: -15%;
  }
}
// Cards Shuffleing CSS
.cardsShuffleing {
  .stackCard {
    .livecard {

      position: absolute;
      left: calc(50% - 40px);
      margin: 0 !important;
      transform: scale(0.6);
      @media (max-width: 992px) {
        transform: scale(0.7) translate(0px, 0px);
        left: calc(50% - 20px);
        top: -10px;
      }
      &.transformRot {
        transform: scale(0.6) rotate(90deg);
        @media (max-width: 992px) {
          transform: scale(0.7) rotate(90deg);
        }
      }
      &.transformTranslate {
        transition: 3s ease-in-out;
        transform: scale(0.6) translate(100px, -10px) rotate(90deg);
        @media (max-width: 992px) {
          transform: scale(0.7) translate(100px, -10px) rotate(90deg);
        }
      }
      @media (min-width: 1280px) {top: -30px;}
      &.pos {
        right: calc(50% - 140px);
        margin-top: -35px !important;
        @media (max-width: 1280px) {
          margin-top: -30px !important;
          right: calc(50% - 100px);
        }
        @media (max-width: 767px) {
          right: calc(50% - 40px);
        }
      }
      .imgsize {
        box-shadow: unset;
      }
      
      // &.ccard0 {bottom: -10px !important;}
      // &.lcard0 {bottom: -9px !important;}
      // &.rcard0 {bottom: -8px !important;}
      // &.lcard1 {bottom: -7px !important;}
      // &.rcard1 {bottom: -6px !important;}
      // &.lcard2 {bottom: -5px !important;}
      // &.rcard2 {bottom: -4px !important;}
      // &.lcard3 {bottom: -3px !important;}
      // &.rcard3 {bottom: -2px !important;}
      // &.lcard4 {bottom: -1px !important;}
      // &.rcard4 {bottom: -0px !important;}
      // &.lcard5 {bottom: -1px !important;}
      // &.rcard5 {bottom: -1px !important;}
      // &.lcard6 {bottom: -1px !important;}
      // &.rcard6 {bottom: -1px !important;}
      // &.lcard7 {bottom: -1px !important;}
      // &.rcard7 {bottom: -1px !important;}
      // &.lcard8 {bottom: -1px !important;}
      // &.rcard8 {bottom: -1px !important;}
      // &.lcard9 {bottom: -1px !important;}
      // &.rcard9 {bottom: -1px !important;}
    }
  }
}