<div class="position-relative w-100" [ngClass]="{'z-1': GameCode === 'AB'}">
  <div class="dealerHolder m-auto">
    <div class="dealer {{dynamicClassName}}"></div>
    <!-- {{dynamicClassName}}  {{animation}} -->
  </div>
  <div id="card-table" class="position-relative">
    <div class="row m-0" *ngIf="GameCode === 'TP'">
      <div class="col-12 p-0 position-absolute marginMainRow">
        <div class="row">
          <div class="col-lg-2 p-0"></div>
          <div class="col-lg-8 col-12 p-lg-0 mt-lg-4">
            <div class="row">
              <div class="col-lg-2 d-none d-md-block text-center sideimg p-0">
                <img class="w-100" src="./assets/images/rng_images/table_left_icon.png">
              </div>
              <div class="col-lg-8 col-12 p-0">
                <div class="row position-relative" style="z-index: 999;">
                  <!-- <div class="col-lg-2 p-0"></div> -->
                  <div class="row">
                    <div class="col-lg-4 col-5 p-0 text-center">
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="tableBtn">
                        <p style="transform: skewX( 21deg);" class="runnername">Player A</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-2"></div>
                    <div class="col-lg-4 col-5 p-0 text-center">
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="tableBtn">
                        <p style="transform: skewX( 21deg);" class="runnername">Player B</p>
                      </div>
                    </div>
                  </div>
                  <!-- lower row -->
                  <div class="row marginpokerrow">
                    <div class="col-4 col-lg-4 p-0"></div>
                    <div class="col-4 col-lg-4 p-0 text-center">
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="tableBtn">
                        <p style="transform: skewX( 21deg);" class="runnername">Player C</p>
                      </div>
                    </div>
                    <div class="col-lg-2 p-0"></div>
                    <div class="col-lg-2 p-0"></div>
                  </div>
                </div>
                <div class="row text-center d-none">
                  <div class="col-lg-12">
                    <img class="w-100" src="./assets/images/rng_images/table_supernowa_logo.png"
                      style="bottom: 92%;position: relative;">
                  </div>
                </div>
              </div>
              <div class="col-lg-2 d-none d-md-block text-center sideimg">
                <img class="w-100" src="./assets/images/rng_images/table_right_icon.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0" *ngIf="GameCode === 'BC'">
      <div class="col-12 p-0 position-absolute marginMainRow">
        <div class="row">
          <div class="col-lg-2 p-0"></div>
          <div class="col-lg-8 col-12 p-lg-0 mt-lg-4">
            <div class="row">
              <div class="col-lg-2 d-none d-md-block text-center sideimg p-0">
                <img class="w-100" src="./assets/images/rng_images/table_left_icon.png">
              </div>
              <div class="col-lg-8 col-12 p-0">
                <div class="row position-relative" style="z-index: 999;">
                  <!-- lower row -->
                  <div class="col-2 p-0"></div>
                  <div class="col-4 p-0 pt-4 text-center">
                    <div class="Virtuallivecard">
                      <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                    </div>
                    <div class="Virtuallivecard ">
                      <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                    </div>
                    <div class="Virtuallivecard ">
                      <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                    </div>
                    <div class="tableBtn text-center">
                      <p style="transform: skewX( 21deg);" class="runnername">Player</p>
                    </div>
                  </div>
                  <div class="col-4 p-0 pt-4 text-center">
                    <div class="Virtuallivecard">
                      <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                    </div>
                    <div class="Virtuallivecard ">
                      <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                    </div>
                    <div class="Virtuallivecard ">
                      <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                    </div>
                    <div class="tableBtn">
                      <p style="transform: skewX( 21deg);" class="runnername">Banker</p>
                    </div>
                  </div>
                </div>
                <div class="row text-center d-none">
                  <div class="col-12">
                    <img class="w-100" src="./assets/images/rng_images/table_supernowa_logo.png"
                      style="bottom: 92%;position: relative;">
                  </div>
                </div>
              </div>
              <div class="col-lg-2 d-none d-md-block text-center sideimg">
                <img class="w-100" src="./assets/images/rng_images/table_right_icon.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0" *ngIf="GameCode === 'DT'">
      <div class="col-12 p-0 position-absolute marginMainRow">
        <div class="row">
          <div class="col-lg-2 p-0"></div>
          <div class="col-lg-8 col-12 p-lg-0 mt-lg-4">
            <div class="row">
              <div class="col-lg-2 d-none d-md-block text-center sideimg">
                <img class="w-100" src="./assets/images/rng_images/table_left_icon.png">
              </div>
              <div class="col-lg-8 col-12">
                <div class="row text-center position-relative" style="z-index: 999;">
                  <div class=" col-lg-3"></div>
                  <div class="col-lg-3 col-6">
                    <div class="livecard">
                      <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                    </div>
                  </div>
                  <div class="col-lg-3 col-6">
                    <div class="livecard">
                      <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[1] || 'assets/images/back.png'}}">
                    </div>
                  </div>
                  <div class="col-lg-3"></div>
                  <div class="col-lg-3"></div>
                  <div class="col-lg-3 col-6">
                    <div class="tableBtn">
                      <p style="transform: skewX( 21deg);" class="runnername pt-lg-2">
                        <img src="./assets/images/dragon.svg" class="w-25"> Dragon
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-6">
                    <div class="tableBtn">
                      <p style="transform: skewX(21deg);" class="runnername pt-lg-2">
                        <img src="./assets/images/tiger.svg" class="w-25">
                        Tiger
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-3"></div>
                </div>
                <!-- <div class="row text-center">
                  <div class="col-12">
                    <img class="w-100" src="./assets/images/rng_images/table_supernowa_logo.png"
                      style="bottom: 92%;position: relative;">
                  </div>
                </div> -->
              </div>
              <!-- <div class="col-4 "></div> -->
              <div class="col-lg-2 d-none d-md-block text-center sideimg">
                <img class="w-100" src="./assets/images/rng_images/table_right_icon.png">
              </div>
            </div>
            <!-- <div class="row" style="height: 34%;">
                            <div class="col-4">
                            </div>
                            <div class="col-1 p-0 text-center tableBtn">
                            </div>
                            <div class="col-1 ms-3 p-0 text-center tableBtn">
                                <p style="width: 80%;transform: skewX(21deg);margin-top: 9%; " class="ps-4 runnername">
                                    <img src="./assets/images/tiger.svg" style="width: 32%;">
                                    Tiger
                                </p>
                            </div>
                            <div class="col-5"></div>
                        </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center g-0 position-absolute w-100 marginMainRow" *ngIf="GameCode === 'AB'">
      <div class="col-lg-8 col-md-9 col-12 mx-auto p-lg-0 mt-lg-4">
        <div class="row g-0 justify-content-center">
          <div class="col-3 d-none d-md-flex align-items-center justify-content-center text-center sideimg- overflow-hidden">
            <!-- <img class="w-100" src="./assets/images/rng_images/table_left_icon.png"> -->
            <svg class="w-100 h-auto svglogotable" width="102" height="56" viewBox="0 0 102 56" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_ddiiii_1415_270)">
                <path d="M52.18 20.0567L51.58 21.3776H52.76L52.18 20.0567Z" fill="#05244F" />
                <path
                  d="M41.83 22.8883C42.3092 22.8911 42.779 22.7677 43.182 22.5332C43.5851 22.2987 43.904 21.9631 44.1 21.5674C44.3465 21.0679 44.413 20.5108 44.29 19.9751C44.2272 19.5797 44.043 19.2081 43.7584 18.9026C43.4738 18.5971 43.1002 18.37 42.68 18.2471C42.4596 18.184 42.2309 18.1474 42 18.1386C41.6 18.1386 41.21 18.1386 40.81 18.1386V22.8974L41.83 22.8883Z"
                  fill="#05244F" />
                <path d="M22.1601 21.3776H23.3401C23.1401 20.9433 22.9601 20.4728 22.7601 20.0567L22.1601 21.3776Z"
                  fill="#05244F" />
                <path
                  d="M34.0499 27.412C44.6899 27.4754 55.3299 27.412 65.9699 27.412C68.0599 27.412 69.8599 26.4168 69.7499 23.9741C69.6399 21.5314 69.7499 19.3329 69.7499 17.0168C69.7535 16.7133 69.7233 16.4102 69.6599 16.1121C69.4808 15.3948 69.018 14.7615 68.3586 14.3315C67.6991 13.9016 66.8887 13.7047 66.0799 13.7779H34.1399C33.8499 13.7779 33.5699 13.7779 33.2899 13.7779C32.5768 13.7661 31.8943 13.5137 31.3763 13.0701C30.8583 12.6266 30.5422 12.024 30.4899 11.3804C30.4899 11.0185 30.4399 10.6386 30.4399 10.2676C30.4399 8.73865 30.4399 7.20063 30.4399 5.67166C30.4142 5.24051 30.2687 4.82219 30.0171 4.45534C29.7654 4.08849 29.4156 3.78493 28.9999 3.57271C28.3904 3.16744 27.644 2.96658 26.8887 3.00454C26.1334 3.04251 25.4162 3.31693 24.86 3.7808C18.2866 8.43105 11.6666 13.0813 5 17.7315C4.08133 18.2788 3.38045 19.0777 3 20.0114V21.07C3.36474 22.0116 4.06924 22.8147 5 23.3498C11.6 28.0845 18.19 32.8283 24.77 37.581L25.24 37.8977C25.722 38.2048 26.286 38.3899 26.8737 38.4338C27.4613 38.4776 28.0512 38.3787 28.5824 38.1471C29.1136 37.9156 29.5668 37.5599 29.8951 37.1168C30.2234 36.6738 30.415 36.1594 30.4499 35.6269C30.5399 33.9893 30.4999 32.3337 30.4499 30.6781C30.4056 30.2399 30.4681 29.7983 30.6332 29.3844C30.7983 28.9705 31.0618 28.5945 31.4052 28.2829C31.7486 27.9714 32.1635 27.7319 32.6205 27.5814C33.0775 27.4309 33.5655 27.3731 34.0499 27.412ZM58.0499 16.3654V16.2388C58.0448 16.177 58.055 16.115 58.0798 16.0572C58.1046 15.9995 58.1433 15.9475 58.1932 15.905C58.243 15.8626 58.3027 15.8307 58.3678 15.8117C58.433 15.7928 58.502 15.7872 58.5699 15.7954H61.6699C62.0362 15.7916 62.3998 15.8531 62.7399 15.9764C63.2531 16.1418 63.7086 16.4275 64.0599 16.8041C64.4113 17.1808 64.6459 17.6351 64.7399 18.1206C64.9266 18.8674 64.8132 19.6501 64.4199 20.3281C64.215 20.6781 63.9324 20.9861 63.5899 21.2328L63.4599 21.3233C63.5699 21.4952 63.6699 21.6671 63.7699 21.839L65.5099 24.7431V24.8155C65.6399 25.0598 65.5099 25.2226 65.2399 25.2497C65.1234 25.259 65.0063 25.259 64.8899 25.2497H63.1599C63.0687 25.2333 62.9834 25.1966 62.9119 25.1429C62.8403 25.0892 62.7846 25.0202 62.7499 24.9421C62.4899 24.5169 62.2299 24.0374 61.9799 23.6484C61.7299 23.2594 61.3599 22.617 61.0599 22.1013C60.9499 21.9113 60.9399 21.9113 60.6699 21.9475V24.7612C60.6699 25.114 60.5099 25.2678 60.1199 25.2678H58.6999C58.2099 25.2678 58.0699 25.1412 58.0699 24.6979L58.0499 16.3654ZM47.2499 24.7069L48.1499 22.6984C49.1166 20.5392 50.0666 18.386 50.9999 16.2388C51.0358 16.0981 51.1286 15.9746 51.2599 15.8926C51.3913 15.8106 51.5518 15.7759 51.7099 15.7954H52.5599C52.7163 15.7776 52.8746 15.8118 53.0052 15.8917C53.1358 15.9716 53.2299 16.0917 53.2699 16.2297C53.8999 17.6592 54.5199 19.0886 55.1499 20.509L56.9999 24.6255C57.0455 24.7111 57.0758 24.8027 57.0899 24.8969C57.1009 24.9338 57.1021 24.9725 57.0936 25.0099C57.085 25.0473 57.0669 25.0824 57.0406 25.1123C57.0143 25.1422 56.9807 25.1661 56.9424 25.1821C56.904 25.1982 56.8621 25.2058 56.8199 25.2045C56.6099 25.2045 56.3999 25.2045 56.1899 25.2045H54.9999C54.8491 25.2139 54.6988 25.1795 54.5711 25.1062C54.4434 25.033 54.3449 24.9248 54.2899 24.7974C54.1199 24.4265 53.9299 24.0555 53.7599 23.6936C53.7482 23.6553 53.7214 23.6222 53.6845 23.6006C53.6477 23.5789 53.6034 23.5702 53.5599 23.576H50.7599C50.7193 23.5719 50.6784 23.5805 50.6439 23.6002C50.6093 23.6199 50.5833 23.6497 50.5699 23.6846C50.3999 24.0646 50.2099 24.4265 50.0399 24.8064C49.9887 24.93 49.895 25.0354 49.7726 25.1071C49.6501 25.1787 49.5054 25.2129 49.3599 25.2045H47.6599C47.2599 25.2226 47.1299 25.0417 47.2699 24.7069H47.2499ZM38.1399 16.4016V16.3292C38.1399 15.9402 38.3099 15.7954 38.7299 15.7954C39.8199 15.7954 40.8999 15.7954 41.9899 15.7954C43.2505 15.8428 44.449 16.3031 45.3622 17.0907C46.2754 17.8782 46.8409 18.9393 46.9535 20.0762C47.0661 21.213 46.718 22.3482 45.974 23.27C45.2301 24.1919 44.1411 24.8376 42.9099 25.0869C42.5322 25.1627 42.1468 25.2021 41.7599 25.2045C40.7599 25.2045 39.7599 25.2045 38.7599 25.2045H38.5299C38.4467 25.1936 38.3696 25.1586 38.3101 25.1048C38.2506 25.051 38.212 24.9813 38.1999 24.906C38.1901 24.8187 38.1901 24.7308 38.1999 24.6436V16.4016H38.1399ZM27.4 25.2045C27.16 25.2045 26.9199 25.2045 26.6899 25.2045H25.59C25.439 25.2142 25.2887 25.1787 25.1622 25.1035C25.0357 25.0283 24.94 24.9176 24.89 24.7883L24.35 23.6846C24.3383 23.6487 24.3126 23.6178 24.2776 23.5979C24.2426 23.5779 24.2008 23.5701 24.16 23.576H21.33C21.292 23.5718 21.2535 23.5794 21.2208 23.5975C21.1882 23.6155 21.1632 23.643 21.15 23.6755L20.61 24.8064C20.5598 24.9269 20.4692 25.0301 20.3508 25.1016C20.2324 25.173 20.0922 25.209 19.95 25.2045H18.08C18.0309 25.2054 17.9825 25.1951 17.939 25.1745C17.8956 25.1538 17.8587 25.1236 17.8317 25.0865C17.8048 25.0494 17.7886 25.0068 17.7848 24.9626C17.781 24.9183 17.7897 24.874 17.81 24.8336C17.86 24.6707 17.94 24.5169 18.01 24.3541L21.61 16.2116C21.6518 16.0746 21.7463 15.9556 21.8765 15.876C22.0066 15.7964 22.1639 15.7615 22.32 15.7774H23.17C23.329 15.7596 23.4898 15.7947 23.6223 15.8763C23.7547 15.9579 23.8499 16.0803 23.89 16.2207L27.5899 24.6617C27.6237 24.7372 27.6473 24.8162 27.6599 24.8969C27.6687 24.9329 27.6687 24.9702 27.6599 25.0062C27.6511 25.0422 27.6337 25.0761 27.6089 25.1054C27.5842 25.1347 27.5527 25.1587 27.5166 25.1758C27.4805 25.193 27.4407 25.2027 27.4 25.2045ZM31.2699 20.4728V24.7522C31.2776 24.8148 31.2698 24.8783 31.2471 24.9379C31.2243 24.9976 31.1872 25.0519 31.1384 25.0969C31.0896 25.1419 31.0303 25.1766 30.9648 25.1983C30.8994 25.2201 30.8294 25.2284 30.7599 25.2226H29.1399C29.0727 25.2282 29.005 25.2203 28.9416 25.1995C28.8781 25.1788 28.8205 25.1456 28.7728 25.1024C28.725 25.0593 28.6884 25.0071 28.6655 24.9497C28.6425 24.8923 28.6338 24.831 28.6399 24.7702V16.3835C28.6399 15.9221 28.7799 15.7954 29.2899 15.7954C29.7999 15.7954 30.2199 15.7954 30.6899 15.7954C30.8449 15.7855 30.9996 15.8171 31.1348 15.8863C31.2699 15.9555 31.3796 16.0592 31.4499 16.1845C32.4099 17.632 33.3766 19.0796 34.3499 20.5271L34.4499 20.6809V16.3111C34.4499 15.9493 34.6099 15.7954 35.0199 15.7954H36.5199C36.5936 15.7845 36.669 15.7896 36.7401 15.8103C36.8111 15.8309 36.8757 15.8666 36.9285 15.9144C36.9813 15.9621 37.0207 16.0205 37.0436 16.0848C37.0664 16.1491 37.072 16.2174 37.0599 16.284V24.7341C37.0599 25.0507 36.9199 25.2136 36.5799 25.2136C36.0099 25.2136 35.4399 25.2136 34.8699 25.2136C34.77 25.2125 34.6721 25.1877 34.5861 25.1417C34.5001 25.0956 34.429 25.0299 34.3799 24.9512L33.6599 23.9017C32.8799 22.7527 32.1099 21.5947 31.3299 20.4367C31.3082 20.4029 31.2772 20.3749 31.2399 20.3552L31.2699 20.4728Z"
                  fill="#05244F" />
                <path
                  d="M60.6698 19.0161V19.568H61.6698C61.7502 19.5615 61.8276 19.5376 61.8955 19.4982C61.9634 19.4588 62.0198 19.4052 62.0598 19.3418C62.2046 19.1315 62.2547 18.8789 62.1998 18.6361C62.1773 18.4865 62.0921 18.3505 61.9618 18.2562C61.8315 18.1618 61.6661 18.1165 61.4998 18.1295H60.7998C60.6998 18.1295 60.6698 18.1295 60.6698 18.2471C60.6798 18.4914 60.6698 18.7537 60.6698 19.0161Z"
                  fill="#05244F" />
                <path d="M47.1 36.1424H48.27C48.08 35.6991 47.89 35.2377 47.69 34.8215L47.1 36.1424Z"
                  fill="#05244F" />
                <path
                  d="M38.7399 33.9983C38.7998 33.9899 38.8575 33.9715 38.9099 33.9441C39.0168 33.8876 39.1013 33.8022 39.1515 33.6999C39.2018 33.5976 39.2152 33.4837 39.1899 33.3741C39.1697 33.2592 39.1092 33.1532 39.0174 33.0718C38.9256 32.9903 38.8073 32.9377 38.6799 32.9217H38.3199C38.3021 32.9236 38.2855 32.9309 38.2728 32.9424C38.2601 32.9539 38.252 32.9689 38.2499 32.9851C38.2499 33.3198 38.2499 33.6455 38.2499 33.9983H38.7399Z"
                  fill="#05244F" />
                <path
                  d="M38.8502 36.1424C38.6937 36.1515 38.5367 36.1515 38.3802 36.1424C38.2702 36.1424 38.2402 36.1424 38.2402 36.2691C38.2402 36.7124 38.2402 37.1738 38.2402 37.5899C38.2402 37.5899 38.2402 37.6623 38.2402 37.7166H38.8302C38.9374 37.7227 39.0449 37.7095 39.1464 37.6776C39.2479 37.6458 39.3413 37.596 39.4214 37.5312C39.5014 37.4664 39.5664 37.3878 39.6125 37.3C39.6587 37.2122 39.6851 37.117 39.6902 37.02C39.7109 36.9105 39.7046 36.7983 39.6716 36.6914C39.6386 36.5844 39.5799 36.4854 39.4995 36.4015C39.4192 36.3175 39.3193 36.2508 39.207 36.206C39.0947 36.1612 38.9728 36.1395 38.8502 36.1424Z"
                  fill="#05244F" />
                <path
                  d="M66.5697 36.1424H67.7397C67.5497 35.6991 67.3597 35.2377 67.1597 34.8306C66.9997 35.3101 66.7597 35.7353 66.5697 36.1424Z"
                  fill="#05244F" />
                <path
                  d="M97.05 32.6502C90.45 27.9155 83.86 23.1717 77.28 18.419L76.81 18.1023C76.328 17.7952 75.764 17.6101 75.1763 17.5662C74.5887 17.5224 73.9988 17.6213 73.4676 17.8529C72.9364 18.0844 72.4832 18.4401 72.1549 18.8832C71.8266 19.3263 71.635 19.8406 71.6001 20.3731C71.5101 22.0107 71.6001 23.6663 71.6001 25.3219C71.6445 25.7601 71.5819 26.2017 71.4168 26.6156C71.2517 27.0295 70.9882 27.4055 70.6448 27.7171C70.3014 28.0286 69.8865 28.2681 69.4295 28.4186C68.9725 28.5691 68.4845 28.6269 68.0001 28.588C57.3601 28.5247 46.7201 28.588 36.0801 28.5427C33.9901 28.5427 32.1901 29.5379 32.3001 31.9807C32.4101 34.4234 32.3001 36.6219 32.3001 38.9379C32.2965 39.2415 32.3267 39.5446 32.3901 39.8427C32.5692 40.56 33.032 41.1933 33.6914 41.6233C34.3509 42.0532 35.1613 42.2501 35.9701 42.1768H67.8601C68.1501 42.1768 68.4301 42.1768 68.7101 42.1768C69.4232 42.1886 70.1057 42.4411 70.6237 42.8846C71.1417 43.3282 71.4578 43.9308 71.5101 44.5743C71.5101 44.9362 71.5101 45.3162 71.5101 45.6871C71.5101 47.2161 71.5101 48.7541 71.5101 50.2831C71.5326 50.7265 71.6816 51.1571 71.9428 51.5328C72.2039 51.9086 72.5681 52.2168 73.0001 52.4273C73.6096 52.8326 74.356 53.0334 75.1113 52.9955C75.8666 52.9575 76.5838 52.6831 77.14 52.2192C83.7134 47.569 90.3333 42.9187 97 38.2685C97.9187 37.7212 98.6195 36.9223 99 35.9886V34.9301C98.6482 33.9951 97.9621 33.1929 97.05 32.6502ZM40.8401 39.4989C40.3159 39.8383 39.6847 40.016 39.0401 40.0055H36.1801C35.7801 40.0055 35.6201 39.8608 35.6201 39.5079V31.094C35.6201 30.7412 35.7801 30.5874 36.1701 30.5874H38.8701C39.3836 30.5816 39.8887 30.7056 40.3286 30.9453C40.7685 31.1851 41.1257 31.5311 41.3601 31.9445C41.6149 32.3596 41.7486 32.8267 41.7486 33.3016C41.7486 33.7764 41.6149 34.2435 41.3601 34.6586C41.3348 34.685 41.3209 34.7187 41.3209 34.7536C41.3209 34.7885 41.3348 34.8223 41.3601 34.8486C41.693 35.1727 41.9447 35.5579 42.098 35.978C42.2513 36.3981 42.3027 36.8432 42.2486 37.2829C42.1945 37.7226 42.0362 38.1465 41.7845 38.5258C41.5328 38.9052 41.1936 39.2309 40.7901 39.4808L40.8401 39.4989ZM52.3201 39.9965H50.5001C50.3556 40.0058 50.2117 39.9719 50.0907 39.9C49.9696 39.828 49.878 39.7221 49.8301 39.5984L49.2701 38.4675C49.2609 38.4388 49.2408 38.4141 49.2133 38.3975C49.1859 38.381 49.1529 38.3737 49.1201 38.377H46.2401C46.2073 38.3737 46.1743 38.381 46.1469 38.3975C46.1194 38.4141 46.0993 38.4388 46.0901 38.4675L45.5501 39.5893C45.5012 39.7187 45.4055 39.8292 45.2784 39.9031C45.1514 39.9771 45.0004 40.0099 44.8501 39.9965H43.2001C42.7401 39.9965 42.6501 39.7974 42.8001 39.4627C43.2601 38.4132 43.7301 37.3637 44.2001 36.3052L46.5501 31.0036C46.592 30.8666 46.6865 30.7476 46.8166 30.668C46.9467 30.5884 47.104 30.5534 47.2601 30.5693H48.1201C48.272 30.5556 48.4244 30.5907 48.5505 30.6684C48.6767 30.7462 48.7686 30.8616 48.8101 30.9945C49.1701 31.8088 49.5301 32.623 49.8801 33.4373L52.5201 39.4355C52.5526 39.5053 52.576 39.5781 52.5901 39.6527C52.6042 39.6917 52.608 39.7331 52.6011 39.7736C52.5943 39.8142 52.5771 39.8527 52.5508 39.8861C52.5246 39.9195 52.49 39.9469 52.45 39.9661C52.4099 39.9853 52.3654 39.9957 52.3201 39.9965ZM61.3201 39.4536C61.3253 39.5108 61.3253 39.5683 61.3201 39.6255C61.319 39.679 61.3056 39.7318 61.281 39.7804C61.2563 39.8291 61.2208 39.8726 61.1767 39.9083C61.1326 39.9439 61.0808 39.971 61.0246 39.9877C60.9684 40.0044 60.909 40.0105 60.8501 40.0055H59.2001C59.1395 40.0107 59.0784 40.0041 59.0208 39.9863C58.9632 39.9685 58.9105 39.9398 58.8661 39.9022C58.8216 39.8646 58.7865 39.8188 58.7631 39.768C58.7397 39.7172 58.7284 39.6625 58.7301 39.6074C58.7248 39.5472 58.7248 39.4867 58.7301 39.4265V36.459H56.2301V39.4446C56.2301 39.8517 56.0801 40.0236 55.6101 40.0055H54.1401C53.7701 40.0055 53.6001 39.8517 53.6001 39.526V31.076C53.6001 30.7412 53.7701 30.5965 54.1401 30.5874H55.6901C56.0401 30.5874 56.1901 30.7141 56.2301 31.0217V34.1339H58.7201V31.1936C58.7149 31.1273 58.7149 31.0608 58.7201 30.9945C58.7198 30.9391 58.7324 30.8842 58.757 30.8333C58.7815 30.7825 58.8176 30.7369 58.8628 30.6994C58.908 30.662 58.9613 30.6334 59.0194 30.6157C59.0775 30.598 59.139 30.5914 59.2001 30.5965C59.7501 30.5965 60.3001 30.5965 60.8401 30.5965C60.905 30.5898 60.9707 30.596 61.0326 30.6147C61.0946 30.6333 61.1513 30.6639 61.1989 30.7044C61.2464 30.7448 61.2837 30.7942 61.3081 30.8489C61.3325 30.9037 61.3434 30.9627 61.3401 31.0217V39.4536H61.3201ZM70.0001 40.0055C69.8621 40.0145 69.7246 39.9822 69.609 39.9136C69.4933 39.8449 69.4058 39.7437 69.3601 39.6255C69.1701 39.2456 68.9801 38.8746 68.8001 38.4946C68.7928 38.4602 68.771 38.4296 68.7393 38.4093C68.7076 38.3891 68.6684 38.3808 68.6301 38.3861H65.7301C65.6905 38.3805 65.65 38.3886 65.6167 38.4087C65.5834 38.4288 65.5596 38.4594 65.5501 38.4946C65.3801 38.8656 65.1901 39.2365 65.0201 39.6074C64.9722 39.7311 64.8806 39.8371 64.7595 39.909C64.6384 39.981 64.4946 40.0149 64.3501 40.0055H62.4901C62.4411 40.0056 62.3928 39.9949 62.3495 39.9743C62.3062 39.9537 62.2691 39.9238 62.2414 39.8872C62.2138 39.8506 62.1965 39.8084 62.1911 39.7644C62.1856 39.7204 62.1921 39.6758 62.2101 39.6346C62.3101 39.3722 62.4301 39.1189 62.5401 38.8656C63.7001 36.2419 64.8634 33.6212 66.0301 31.0036C66.0698 30.8697 66.1613 30.7532 66.2879 30.6752C66.4145 30.5971 66.5678 30.5628 66.7201 30.5784H67.5901C67.7406 30.5642 67.892 30.598 68.0179 30.674C68.1439 30.7499 68.2366 30.8633 68.2801 30.9945L72.0001 39.4808V39.5532C72.1401 39.8336 72.0001 39.9965 71.6801 40.0055H70.0001ZM80.55 39.8155C80.5187 39.8786 80.4659 39.9311 80.3994 39.9653C80.3328 39.9994 80.256 40.0135 80.18 40.0055H78.33C78.1926 40.0116 78.0567 39.9781 77.9417 39.9098C77.8267 39.8415 77.7386 39.742 77.69 39.6255L76 36.8571C75.89 36.6581 75.8901 36.6581 75.6201 36.6943V39.5351C75.6201 39.8698 75.44 40.0055 75.08 40.0055H73.5801C73.2101 40.0055 73.0501 39.8608 73.0501 39.526V31.0669C73.039 31.004 73.044 30.9397 73.0648 30.8788C73.0855 30.818 73.1214 30.7622 73.1697 30.7159C73.218 30.6696 73.2774 30.6339 73.3434 30.6117C73.4093 30.5894 73.48 30.5811 73.5501 30.5874C74.6101 30.5874 75.66 30.5874 76.72 30.5874C77.3878 30.5946 78.0346 30.7992 78.5618 31.17C79.089 31.5408 79.4677 32.0574 79.64 32.6411C79.788 33.0708 79.8351 33.5238 79.7783 33.9709C79.7215 34.4181 79.562 34.8495 79.31 35.2377C79.1084 35.5271 78.851 35.7814 78.55 35.9886L78.44 36.07L80.58 39.6889L80.55 39.8155Z"
                  fill="#05244F" />
                <path
                  d="M76.4498 32.9127H75.6698V34.3331H76.5298C76.6327 34.3403 76.7355 34.319 76.8248 34.2722C76.9141 34.2254 76.9856 34.1551 77.0298 34.0707C77.151 33.8658 77.1898 33.6292 77.1398 33.4013C77.1107 33.2576 77.0245 33.1285 76.8973 33.0384C76.7701 32.9484 76.6109 32.9037 76.4498 32.9127Z"
                  fill="#05244F" />
              </g>
              <defs>
                <filter id="filter0_ddiiii_1415_270" x="0" y="0" width="102" height="56"
                  filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                  <feOffset dx="-1" dy="-1" />
                  <feGaussianBlur stdDeviation="1" />
                  <feColorMatrix type="matrix"
                    values="0 0 0 0 0.00784314 0 0 0 0 0.054902 0 0 0 0 0.12549 0 0 0 0.5 0" />
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1415_270" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                  <feOffset dx="1" dy="1" />
                  <feGaussianBlur stdDeviation="1" />
                  <feColorMatrix type="matrix"
                    values="0 0 0 0 0.0313726 0 0 0 0 0.227451 0 0 0 0 0.494118 0 0 0 0.3 0" />
                  <feBlend mode="normal" in2="effect1_dropShadow_1415_270" result="effect2_dropShadow_1415_270" />
                  <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_1415_270" result="shape" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                  <feOffset dx="1" dy="1" />
                  <feGaussianBlur stdDeviation="1.5" />
                  <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                  <feColorMatrix type="matrix"
                    values="0 0 0 0 0.00784314 0 0 0 0 0.054902 0 0 0 0 0.12549 0 0 0 0.9 0" />
                  <feBlend mode="normal" in2="shape" result="effect3_innerShadow_1415_270" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                  <feOffset dx="-1" dy="-1" />
                  <feGaussianBlur stdDeviation="1" />
                  <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                  <feColorMatrix type="matrix"
                    values="0 0 0 0 0.0313726 0 0 0 0 0.227451 0 0 0 0 0.494118 0 0 0 0.9 0" />
                  <feBlend mode="normal" in2="effect3_innerShadow_1415_270" result="effect4_innerShadow_1415_270" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                  <feOffset dx="1" dy="-1" />
                  <feGaussianBlur stdDeviation="1" />
                  <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                  <feColorMatrix type="matrix"
                    values="0 0 0 0 0.00784314 0 0 0 0 0.054902 0 0 0 0 0.12549 0 0 0 0.2 0" />
                  <feBlend mode="normal" in2="effect4_innerShadow_1415_270" result="effect5_innerShadow_1415_270" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                  <feOffset dx="-1" dy="1" />
                  <feGaussianBlur stdDeviation="1" />
                  <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                  <feColorMatrix type="matrix"
                    values="0 0 0 0 0.00784314 0 0 0 0 0.054902 0 0 0 0 0.12549 0 0 0 0.2 0" />
                  <feBlend mode="normal" in2="effect5_innerShadow_1415_270" result="effect6_innerShadow_1415_270" />
                </filter>
              </defs>
            </svg>
          </div>
          <div class="col-6 position-relative restscale">
            <div class="row d-none">
              <div class="col-2 text-center" style="padding: 30px 0 0 0;">
                <div class="livecard">
                  <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                </div>
                <div class="tableBtn">
                  <p style="transform: skewX( 21deg);" class="runnername">
                    <img src="../../../assets/images/blue-heart.png" style="width: 21px;">
                    Joker
                  </p>
                </div>
              </div>
              <div class="col-10 p-0">
                <div class="row m-0 ">
                  <div class="col-12 p-0">
                    <div class="row m-0">
                      <div class="col-12 p-0">
                        <div class="row">
                          <div class="Virtuallivecard ">
                            <img class="imgsize"
                              src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                          </div>
                          <div class="Virtuallivecard ">
                            <img class="imgsize"
                              src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                          </div>
                          <div class="Virtuallivecard ">
                            <img class="imgsize"
                              src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                          </div>
                          <div class="tableBtn">
                            <p style="transform: skewX( 21deg);" class="runnername">
                              <img src="../../../assets/images/andhar-arrow.png" style="width: 21px;"> Andar
                            </p>
                          </div>
                          <!-- <div class="col-lg-1 col-3 w-25">
                                                            <div class="livecard">
                                                                <img class="imgsize"
                                                                    src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-1 col-3 w-25">
                                                            <div class="livecard">
                                                                <img class="imgsize"
                                                                    src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-1 col-3 w-25">
                                                            <div class="livecard">
                                                                <img class="imgsize"
                                                                    src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-1 col-3 w-25">
                                                            <div class="livecard">
                                                                <img class="imgsize"
                                                                    src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                                                            </div>
                                                        </div> -->
                        </div>
                      </div>
                      <div class="col-12 p-0">
                        <div class="row">
                          <div class="Virtuallivecard ">
                            <img class="imgsize"
                              src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                          </div>
                          <div class="Virtuallivecard ">
                            <img class="imgsize"
                              src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                          </div>
                          <div class="Virtuallivecard ">
                            <img class="imgsize"
                              src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                          </div>
                          <div class="tableBtn">
                            <p style="transform: skewX( 21deg);" class="runnername">
                              <!-- <img src="../../../assets/images/bahar-arrow.png" style="width: 21px;"> Bahar -->
                            </p>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="col-12 p-0">
                                                    <div class="row">
                                                        <div class="col-1 w-25">
                                                            <div class="livecard">
                                                                <img class="imgsize"
                                                                    src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                                                            </div>
                                                        </div>
                                                        <div class="col-1 w-25">
                                                            <div class="livecard">
                                                                <img class="imgsize"
                                                                    src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                                                            </div>
                                                        </div>
                                                        <div class="col-1 w-25">
                                                            <div class="livecard">
                                                                <img class="imgsize"
                                                                    src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                                                            </div>
                                                        </div>
                                                        <div class="col-1 w-25">
                                                            <div class="livecard">
                                                                <img class="imgsize"
                                                                    src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-12 p-0">
                                                    <div class="tableBtn" style="height: 34px;">
                                                        <p style="transform: skewX( 21deg);" class="runnername">
                                                            <img src="../../../assets/images/bahar-arrow.png"
                                                                style="width: 21px;">
                                                            Bahar
                                                        </p>
                                                    </div>
                                                </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row flex-nowrap text-center justify-content-center position-relative cardPerspective pt-lg-4" style="z-index: 999;">
              <div class="col-6">
                <div class="d-flex flex-row-reverse stackCard rtl">
                  <div class="livecard card1 mx-0 lcard0">
                    <img class="imgsize cardSize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                  </div>
                  <div class="livecard card2 mx-0 lcard1">
                    <img class="imgsize cardSize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                  </div>
                  <div class="livecard card3 mx-0 lcard2">
                    <img class="imgsize cardSize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                  </div>
                </div>
              </div>
              <div class="col stackCard">
                <div class="livecard mx-0 ccard0">
                  <img class="imgsize cardSize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                </div>
              </div>
              <div class="col-6">
                <div class="d-flex stackCard ltr">
                  <div class="livecard card1 mx-0 rcard0">
                    <img class="imgsize cardSize" src="{{GameHistoryDetails.PlayerACard[1] || 'assets/images/back.png'}}">
                  </div>
                  <div class="livecard card2 mx-0 rcard1">
                    <img class="imgsize cardSize" src="{{GameHistoryDetails.PlayerACard[1] || 'assets/images/back.png'}}">
                  </div>
                  <div class="livecard card3 mx-0 rcard2">
                    <img class="imgsize cardSize" src="{{GameHistoryDetails.PlayerACard[1] || 'assets/images/back.png'}}">
                  </div>
                </div>
              </div>
            </div>
            <div class="row flex-nowrap justify-content-center">
              <div class="col-4">
                <div class="tableBtn">
                  <p style="transform: skewX( 21deg);" class="runnername text-end pt-lg-2">
                    andar
                  </p>
                </div>
              </div>
              <div class="col-lg-3 col-2" (click)="SetHistoryCards()">
                <img src="./assets/images/rng_images/table_upper_box.png" class="tablebox andarBahar">
              </div>
              <div class="col-4">
                <div class="tableBtn">
                  <p style="transform: skewX(21deg);" class="runnername pt-lg-2">
                    bahar
                  </p>
                </div>
              </div>
            </div>
            <div class="row text-center d-none">
              <div class="col-12">
                <img class="w-100" src="./assets/images/rng_images/table_supernowa_logo.png"
                  style="bottom: 92%;position: relative;">
              </div>
            </div>
          </div>
          <!-- <div class="col-4 "></div> -->
          <div class="col-3 d-none d-md-flex align-items-center justify-content-center text-center sideimg- overflow-hidden">
            <!-- <img class="w-100" src="./assets/images/rng_images/table_right_icon.png"> -->
            <svg class="w-100 h-auto svglogotable" width="102" height="56" viewBox="0 0 102 56" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_ddiiii_1415_270)">
                <path d="M52.18 20.0567L51.58 21.3776H52.76L52.18 20.0567Z" fill="#05244F" />
                <path
                  d="M41.83 22.8883C42.3092 22.8911 42.779 22.7677 43.182 22.5332C43.5851 22.2987 43.904 21.9631 44.1 21.5674C44.3465 21.0679 44.413 20.5108 44.29 19.9751C44.2272 19.5797 44.043 19.2081 43.7584 18.9026C43.4738 18.5971 43.1002 18.37 42.68 18.2471C42.4596 18.184 42.2309 18.1474 42 18.1386C41.6 18.1386 41.21 18.1386 40.81 18.1386V22.8974L41.83 22.8883Z"
                  fill="#05244F" />
                <path d="M22.1601 21.3776H23.3401C23.1401 20.9433 22.9601 20.4728 22.7601 20.0567L22.1601 21.3776Z"
                  fill="#05244F" />
                <path
                  d="M34.0499 27.412C44.6899 27.4754 55.3299 27.412 65.9699 27.412C68.0599 27.412 69.8599 26.4168 69.7499 23.9741C69.6399 21.5314 69.7499 19.3329 69.7499 17.0168C69.7535 16.7133 69.7233 16.4102 69.6599 16.1121C69.4808 15.3948 69.018 14.7615 68.3586 14.3315C67.6991 13.9016 66.8887 13.7047 66.0799 13.7779H34.1399C33.8499 13.7779 33.5699 13.7779 33.2899 13.7779C32.5768 13.7661 31.8943 13.5137 31.3763 13.0701C30.8583 12.6266 30.5422 12.024 30.4899 11.3804C30.4899 11.0185 30.4399 10.6386 30.4399 10.2676C30.4399 8.73865 30.4399 7.20063 30.4399 5.67166C30.4142 5.24051 30.2687 4.82219 30.0171 4.45534C29.7654 4.08849 29.4156 3.78493 28.9999 3.57271C28.3904 3.16744 27.644 2.96658 26.8887 3.00454C26.1334 3.04251 25.4162 3.31693 24.86 3.7808C18.2866 8.43105 11.6666 13.0813 5 17.7315C4.08133 18.2788 3.38045 19.0777 3 20.0114V21.07C3.36474 22.0116 4.06924 22.8147 5 23.3498C11.6 28.0845 18.19 32.8283 24.77 37.581L25.24 37.8977C25.722 38.2048 26.286 38.3899 26.8737 38.4338C27.4613 38.4776 28.0512 38.3787 28.5824 38.1471C29.1136 37.9156 29.5668 37.5599 29.8951 37.1168C30.2234 36.6738 30.415 36.1594 30.4499 35.6269C30.5399 33.9893 30.4999 32.3337 30.4499 30.6781C30.4056 30.2399 30.4681 29.7983 30.6332 29.3844C30.7983 28.9705 31.0618 28.5945 31.4052 28.2829C31.7486 27.9714 32.1635 27.7319 32.6205 27.5814C33.0775 27.4309 33.5655 27.3731 34.0499 27.412ZM58.0499 16.3654V16.2388C58.0448 16.177 58.055 16.115 58.0798 16.0572C58.1046 15.9995 58.1433 15.9475 58.1932 15.905C58.243 15.8626 58.3027 15.8307 58.3678 15.8117C58.433 15.7928 58.502 15.7872 58.5699 15.7954H61.6699C62.0362 15.7916 62.3998 15.8531 62.7399 15.9764C63.2531 16.1418 63.7086 16.4275 64.0599 16.8041C64.4113 17.1808 64.6459 17.6351 64.7399 18.1206C64.9266 18.8674 64.8132 19.6501 64.4199 20.3281C64.215 20.6781 63.9324 20.9861 63.5899 21.2328L63.4599 21.3233C63.5699 21.4952 63.6699 21.6671 63.7699 21.839L65.5099 24.7431V24.8155C65.6399 25.0598 65.5099 25.2226 65.2399 25.2497C65.1234 25.259 65.0063 25.259 64.8899 25.2497H63.1599C63.0687 25.2333 62.9834 25.1966 62.9119 25.1429C62.8403 25.0892 62.7846 25.0202 62.7499 24.9421C62.4899 24.5169 62.2299 24.0374 61.9799 23.6484C61.7299 23.2594 61.3599 22.617 61.0599 22.1013C60.9499 21.9113 60.9399 21.9113 60.6699 21.9475V24.7612C60.6699 25.114 60.5099 25.2678 60.1199 25.2678H58.6999C58.2099 25.2678 58.0699 25.1412 58.0699 24.6979L58.0499 16.3654ZM47.2499 24.7069L48.1499 22.6984C49.1166 20.5392 50.0666 18.386 50.9999 16.2388C51.0358 16.0981 51.1286 15.9746 51.2599 15.8926C51.3913 15.8106 51.5518 15.7759 51.7099 15.7954H52.5599C52.7163 15.7776 52.8746 15.8118 53.0052 15.8917C53.1358 15.9716 53.2299 16.0917 53.2699 16.2297C53.8999 17.6592 54.5199 19.0886 55.1499 20.509L56.9999 24.6255C57.0455 24.7111 57.0758 24.8027 57.0899 24.8969C57.1009 24.9338 57.1021 24.9725 57.0936 25.0099C57.085 25.0473 57.0669 25.0824 57.0406 25.1123C57.0143 25.1422 56.9807 25.1661 56.9424 25.1821C56.904 25.1982 56.8621 25.2058 56.8199 25.2045C56.6099 25.2045 56.3999 25.2045 56.1899 25.2045H54.9999C54.8491 25.2139 54.6988 25.1795 54.5711 25.1062C54.4434 25.033 54.3449 24.9248 54.2899 24.7974C54.1199 24.4265 53.9299 24.0555 53.7599 23.6936C53.7482 23.6553 53.7214 23.6222 53.6845 23.6006C53.6477 23.5789 53.6034 23.5702 53.5599 23.576H50.7599C50.7193 23.5719 50.6784 23.5805 50.6439 23.6002C50.6093 23.6199 50.5833 23.6497 50.5699 23.6846C50.3999 24.0646 50.2099 24.4265 50.0399 24.8064C49.9887 24.93 49.895 25.0354 49.7726 25.1071C49.6501 25.1787 49.5054 25.2129 49.3599 25.2045H47.6599C47.2599 25.2226 47.1299 25.0417 47.2699 24.7069H47.2499ZM38.1399 16.4016V16.3292C38.1399 15.9402 38.3099 15.7954 38.7299 15.7954C39.8199 15.7954 40.8999 15.7954 41.9899 15.7954C43.2505 15.8428 44.449 16.3031 45.3622 17.0907C46.2754 17.8782 46.8409 18.9393 46.9535 20.0762C47.0661 21.213 46.718 22.3482 45.974 23.27C45.2301 24.1919 44.1411 24.8376 42.9099 25.0869C42.5322 25.1627 42.1468 25.2021 41.7599 25.2045C40.7599 25.2045 39.7599 25.2045 38.7599 25.2045H38.5299C38.4467 25.1936 38.3696 25.1586 38.3101 25.1048C38.2506 25.051 38.212 24.9813 38.1999 24.906C38.1901 24.8187 38.1901 24.7308 38.1999 24.6436V16.4016H38.1399ZM27.4 25.2045C27.16 25.2045 26.9199 25.2045 26.6899 25.2045H25.59C25.439 25.2142 25.2887 25.1787 25.1622 25.1035C25.0357 25.0283 24.94 24.9176 24.89 24.7883L24.35 23.6846C24.3383 23.6487 24.3126 23.6178 24.2776 23.5979C24.2426 23.5779 24.2008 23.5701 24.16 23.576H21.33C21.292 23.5718 21.2535 23.5794 21.2208 23.5975C21.1882 23.6155 21.1632 23.643 21.15 23.6755L20.61 24.8064C20.5598 24.9269 20.4692 25.0301 20.3508 25.1016C20.2324 25.173 20.0922 25.209 19.95 25.2045H18.08C18.0309 25.2054 17.9825 25.1951 17.939 25.1745C17.8956 25.1538 17.8587 25.1236 17.8317 25.0865C17.8048 25.0494 17.7886 25.0068 17.7848 24.9626C17.781 24.9183 17.7897 24.874 17.81 24.8336C17.86 24.6707 17.94 24.5169 18.01 24.3541L21.61 16.2116C21.6518 16.0746 21.7463 15.9556 21.8765 15.876C22.0066 15.7964 22.1639 15.7615 22.32 15.7774H23.17C23.329 15.7596 23.4898 15.7947 23.6223 15.8763C23.7547 15.9579 23.8499 16.0803 23.89 16.2207L27.5899 24.6617C27.6237 24.7372 27.6473 24.8162 27.6599 24.8969C27.6687 24.9329 27.6687 24.9702 27.6599 25.0062C27.6511 25.0422 27.6337 25.0761 27.6089 25.1054C27.5842 25.1347 27.5527 25.1587 27.5166 25.1758C27.4805 25.193 27.4407 25.2027 27.4 25.2045ZM31.2699 20.4728V24.7522C31.2776 24.8148 31.2698 24.8783 31.2471 24.9379C31.2243 24.9976 31.1872 25.0519 31.1384 25.0969C31.0896 25.1419 31.0303 25.1766 30.9648 25.1983C30.8994 25.2201 30.8294 25.2284 30.7599 25.2226H29.1399C29.0727 25.2282 29.005 25.2203 28.9416 25.1995C28.8781 25.1788 28.8205 25.1456 28.7728 25.1024C28.725 25.0593 28.6884 25.0071 28.6655 24.9497C28.6425 24.8923 28.6338 24.831 28.6399 24.7702V16.3835C28.6399 15.9221 28.7799 15.7954 29.2899 15.7954C29.7999 15.7954 30.2199 15.7954 30.6899 15.7954C30.8449 15.7855 30.9996 15.8171 31.1348 15.8863C31.2699 15.9555 31.3796 16.0592 31.4499 16.1845C32.4099 17.632 33.3766 19.0796 34.3499 20.5271L34.4499 20.6809V16.3111C34.4499 15.9493 34.6099 15.7954 35.0199 15.7954H36.5199C36.5936 15.7845 36.669 15.7896 36.7401 15.8103C36.8111 15.8309 36.8757 15.8666 36.9285 15.9144C36.9813 15.9621 37.0207 16.0205 37.0436 16.0848C37.0664 16.1491 37.072 16.2174 37.0599 16.284V24.7341C37.0599 25.0507 36.9199 25.2136 36.5799 25.2136C36.0099 25.2136 35.4399 25.2136 34.8699 25.2136C34.77 25.2125 34.6721 25.1877 34.5861 25.1417C34.5001 25.0956 34.429 25.0299 34.3799 24.9512L33.6599 23.9017C32.8799 22.7527 32.1099 21.5947 31.3299 20.4367C31.3082 20.4029 31.2772 20.3749 31.2399 20.3552L31.2699 20.4728Z"
                  fill="#05244F" />
                <path
                  d="M60.6698 19.0161V19.568H61.6698C61.7502 19.5615 61.8276 19.5376 61.8955 19.4982C61.9634 19.4588 62.0198 19.4052 62.0598 19.3418C62.2046 19.1315 62.2547 18.8789 62.1998 18.6361C62.1773 18.4865 62.0921 18.3505 61.9618 18.2562C61.8315 18.1618 61.6661 18.1165 61.4998 18.1295H60.7998C60.6998 18.1295 60.6698 18.1295 60.6698 18.2471C60.6798 18.4914 60.6698 18.7537 60.6698 19.0161Z"
                  fill="#05244F" />
                <path d="M47.1 36.1424H48.27C48.08 35.6991 47.89 35.2377 47.69 34.8215L47.1 36.1424Z"
                  fill="#05244F" />
                <path
                  d="M38.7399 33.9983C38.7998 33.9899 38.8575 33.9715 38.9099 33.9441C39.0168 33.8876 39.1013 33.8022 39.1515 33.6999C39.2018 33.5976 39.2152 33.4837 39.1899 33.3741C39.1697 33.2592 39.1092 33.1532 39.0174 33.0718C38.9256 32.9903 38.8073 32.9377 38.6799 32.9217H38.3199C38.3021 32.9236 38.2855 32.9309 38.2728 32.9424C38.2601 32.9539 38.252 32.9689 38.2499 32.9851C38.2499 33.3198 38.2499 33.6455 38.2499 33.9983H38.7399Z"
                  fill="#05244F" />
                <path
                  d="M38.8502 36.1424C38.6937 36.1515 38.5367 36.1515 38.3802 36.1424C38.2702 36.1424 38.2402 36.1424 38.2402 36.2691C38.2402 36.7124 38.2402 37.1738 38.2402 37.5899C38.2402 37.5899 38.2402 37.6623 38.2402 37.7166H38.8302C38.9374 37.7227 39.0449 37.7095 39.1464 37.6776C39.2479 37.6458 39.3413 37.596 39.4214 37.5312C39.5014 37.4664 39.5664 37.3878 39.6125 37.3C39.6587 37.2122 39.6851 37.117 39.6902 37.02C39.7109 36.9105 39.7046 36.7983 39.6716 36.6914C39.6386 36.5844 39.5799 36.4854 39.4995 36.4015C39.4192 36.3175 39.3193 36.2508 39.207 36.206C39.0947 36.1612 38.9728 36.1395 38.8502 36.1424Z"
                  fill="#05244F" />
                <path
                  d="M66.5697 36.1424H67.7397C67.5497 35.6991 67.3597 35.2377 67.1597 34.8306C66.9997 35.3101 66.7597 35.7353 66.5697 36.1424Z"
                  fill="#05244F" />
                <path
                  d="M97.05 32.6502C90.45 27.9155 83.86 23.1717 77.28 18.419L76.81 18.1023C76.328 17.7952 75.764 17.6101 75.1763 17.5662C74.5887 17.5224 73.9988 17.6213 73.4676 17.8529C72.9364 18.0844 72.4832 18.4401 72.1549 18.8832C71.8266 19.3263 71.635 19.8406 71.6001 20.3731C71.5101 22.0107 71.6001 23.6663 71.6001 25.3219C71.6445 25.7601 71.5819 26.2017 71.4168 26.6156C71.2517 27.0295 70.9882 27.4055 70.6448 27.7171C70.3014 28.0286 69.8865 28.2681 69.4295 28.4186C68.9725 28.5691 68.4845 28.6269 68.0001 28.588C57.3601 28.5247 46.7201 28.588 36.0801 28.5427C33.9901 28.5427 32.1901 29.5379 32.3001 31.9807C32.4101 34.4234 32.3001 36.6219 32.3001 38.9379C32.2965 39.2415 32.3267 39.5446 32.3901 39.8427C32.5692 40.56 33.032 41.1933 33.6914 41.6233C34.3509 42.0532 35.1613 42.2501 35.9701 42.1768H67.8601C68.1501 42.1768 68.4301 42.1768 68.7101 42.1768C69.4232 42.1886 70.1057 42.4411 70.6237 42.8846C71.1417 43.3282 71.4578 43.9308 71.5101 44.5743C71.5101 44.9362 71.5101 45.3162 71.5101 45.6871C71.5101 47.2161 71.5101 48.7541 71.5101 50.2831C71.5326 50.7265 71.6816 51.1571 71.9428 51.5328C72.2039 51.9086 72.5681 52.2168 73.0001 52.4273C73.6096 52.8326 74.356 53.0334 75.1113 52.9955C75.8666 52.9575 76.5838 52.6831 77.14 52.2192C83.7134 47.569 90.3333 42.9187 97 38.2685C97.9187 37.7212 98.6195 36.9223 99 35.9886V34.9301C98.6482 33.9951 97.9621 33.1929 97.05 32.6502ZM40.8401 39.4989C40.3159 39.8383 39.6847 40.016 39.0401 40.0055H36.1801C35.7801 40.0055 35.6201 39.8608 35.6201 39.5079V31.094C35.6201 30.7412 35.7801 30.5874 36.1701 30.5874H38.8701C39.3836 30.5816 39.8887 30.7056 40.3286 30.9453C40.7685 31.1851 41.1257 31.5311 41.3601 31.9445C41.6149 32.3596 41.7486 32.8267 41.7486 33.3016C41.7486 33.7764 41.6149 34.2435 41.3601 34.6586C41.3348 34.685 41.3209 34.7187 41.3209 34.7536C41.3209 34.7885 41.3348 34.8223 41.3601 34.8486C41.693 35.1727 41.9447 35.5579 42.098 35.978C42.2513 36.3981 42.3027 36.8432 42.2486 37.2829C42.1945 37.7226 42.0362 38.1465 41.7845 38.5258C41.5328 38.9052 41.1936 39.2309 40.7901 39.4808L40.8401 39.4989ZM52.3201 39.9965H50.5001C50.3556 40.0058 50.2117 39.9719 50.0907 39.9C49.9696 39.828 49.878 39.7221 49.8301 39.5984L49.2701 38.4675C49.2609 38.4388 49.2408 38.4141 49.2133 38.3975C49.1859 38.381 49.1529 38.3737 49.1201 38.377H46.2401C46.2073 38.3737 46.1743 38.381 46.1469 38.3975C46.1194 38.4141 46.0993 38.4388 46.0901 38.4675L45.5501 39.5893C45.5012 39.7187 45.4055 39.8292 45.2784 39.9031C45.1514 39.9771 45.0004 40.0099 44.8501 39.9965H43.2001C42.7401 39.9965 42.6501 39.7974 42.8001 39.4627C43.2601 38.4132 43.7301 37.3637 44.2001 36.3052L46.5501 31.0036C46.592 30.8666 46.6865 30.7476 46.8166 30.668C46.9467 30.5884 47.104 30.5534 47.2601 30.5693H48.1201C48.272 30.5556 48.4244 30.5907 48.5505 30.6684C48.6767 30.7462 48.7686 30.8616 48.8101 30.9945C49.1701 31.8088 49.5301 32.623 49.8801 33.4373L52.5201 39.4355C52.5526 39.5053 52.576 39.5781 52.5901 39.6527C52.6042 39.6917 52.608 39.7331 52.6011 39.7736C52.5943 39.8142 52.5771 39.8527 52.5508 39.8861C52.5246 39.9195 52.49 39.9469 52.45 39.9661C52.4099 39.9853 52.3654 39.9957 52.3201 39.9965ZM61.3201 39.4536C61.3253 39.5108 61.3253 39.5683 61.3201 39.6255C61.319 39.679 61.3056 39.7318 61.281 39.7804C61.2563 39.8291 61.2208 39.8726 61.1767 39.9083C61.1326 39.9439 61.0808 39.971 61.0246 39.9877C60.9684 40.0044 60.909 40.0105 60.8501 40.0055H59.2001C59.1395 40.0107 59.0784 40.0041 59.0208 39.9863C58.9632 39.9685 58.9105 39.9398 58.8661 39.9022C58.8216 39.8646 58.7865 39.8188 58.7631 39.768C58.7397 39.7172 58.7284 39.6625 58.7301 39.6074C58.7248 39.5472 58.7248 39.4867 58.7301 39.4265V36.459H56.2301V39.4446C56.2301 39.8517 56.0801 40.0236 55.6101 40.0055H54.1401C53.7701 40.0055 53.6001 39.8517 53.6001 39.526V31.076C53.6001 30.7412 53.7701 30.5965 54.1401 30.5874H55.6901C56.0401 30.5874 56.1901 30.7141 56.2301 31.0217V34.1339H58.7201V31.1936C58.7149 31.1273 58.7149 31.0608 58.7201 30.9945C58.7198 30.9391 58.7324 30.8842 58.757 30.8333C58.7815 30.7825 58.8176 30.7369 58.8628 30.6994C58.908 30.662 58.9613 30.6334 59.0194 30.6157C59.0775 30.598 59.139 30.5914 59.2001 30.5965C59.7501 30.5965 60.3001 30.5965 60.8401 30.5965C60.905 30.5898 60.9707 30.596 61.0326 30.6147C61.0946 30.6333 61.1513 30.6639 61.1989 30.7044C61.2464 30.7448 61.2837 30.7942 61.3081 30.8489C61.3325 30.9037 61.3434 30.9627 61.3401 31.0217V39.4536H61.3201ZM70.0001 40.0055C69.8621 40.0145 69.7246 39.9822 69.609 39.9136C69.4933 39.8449 69.4058 39.7437 69.3601 39.6255C69.1701 39.2456 68.9801 38.8746 68.8001 38.4946C68.7928 38.4602 68.771 38.4296 68.7393 38.4093C68.7076 38.3891 68.6684 38.3808 68.6301 38.3861H65.7301C65.6905 38.3805 65.65 38.3886 65.6167 38.4087C65.5834 38.4288 65.5596 38.4594 65.5501 38.4946C65.3801 38.8656 65.1901 39.2365 65.0201 39.6074C64.9722 39.7311 64.8806 39.8371 64.7595 39.909C64.6384 39.981 64.4946 40.0149 64.3501 40.0055H62.4901C62.4411 40.0056 62.3928 39.9949 62.3495 39.9743C62.3062 39.9537 62.2691 39.9238 62.2414 39.8872C62.2138 39.8506 62.1965 39.8084 62.1911 39.7644C62.1856 39.7204 62.1921 39.6758 62.2101 39.6346C62.3101 39.3722 62.4301 39.1189 62.5401 38.8656C63.7001 36.2419 64.8634 33.6212 66.0301 31.0036C66.0698 30.8697 66.1613 30.7532 66.2879 30.6752C66.4145 30.5971 66.5678 30.5628 66.7201 30.5784H67.5901C67.7406 30.5642 67.892 30.598 68.0179 30.674C68.1439 30.7499 68.2366 30.8633 68.2801 30.9945L72.0001 39.4808V39.5532C72.1401 39.8336 72.0001 39.9965 71.6801 40.0055H70.0001ZM80.55 39.8155C80.5187 39.8786 80.4659 39.9311 80.3994 39.9653C80.3328 39.9994 80.256 40.0135 80.18 40.0055H78.33C78.1926 40.0116 78.0567 39.9781 77.9417 39.9098C77.8267 39.8415 77.7386 39.742 77.69 39.6255L76 36.8571C75.89 36.6581 75.8901 36.6581 75.6201 36.6943V39.5351C75.6201 39.8698 75.44 40.0055 75.08 40.0055H73.5801C73.2101 40.0055 73.0501 39.8608 73.0501 39.526V31.0669C73.039 31.004 73.044 30.9397 73.0648 30.8788C73.0855 30.818 73.1214 30.7622 73.1697 30.7159C73.218 30.6696 73.2774 30.6339 73.3434 30.6117C73.4093 30.5894 73.48 30.5811 73.5501 30.5874C74.6101 30.5874 75.66 30.5874 76.72 30.5874C77.3878 30.5946 78.0346 30.7992 78.5618 31.17C79.089 31.5408 79.4677 32.0574 79.64 32.6411C79.788 33.0708 79.8351 33.5238 79.7783 33.9709C79.7215 34.4181 79.562 34.8495 79.31 35.2377C79.1084 35.5271 78.851 35.7814 78.55 35.9886L78.44 36.07L80.58 39.6889L80.55 39.8155Z"
                  fill="#05244F" />
                <path
                  d="M76.4498 32.9127H75.6698V34.3331H76.5298C76.6327 34.3403 76.7355 34.319 76.8248 34.2722C76.9141 34.2254 76.9856 34.1551 77.0298 34.0707C77.151 33.8658 77.1898 33.6292 77.1398 33.4013C77.1107 33.2576 77.0245 33.1285 76.8973 33.0384C76.7701 32.9484 76.6109 32.9037 76.4498 32.9127Z"
                  fill="#05244F" />
              </g>
              <defs>
                <filter id="filter0_ddiiii_1415_270" x="0" y="0" width="102" height="56"
                  filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                  <feOffset dx="-1" dy="-1" />
                  <feGaussianBlur stdDeviation="1" />
                  <feColorMatrix type="matrix"
                    values="0 0 0 0 0.00784314 0 0 0 0 0.054902 0 0 0 0 0.12549 0 0 0 0.5 0" />
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_1415_270" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                  <feOffset dx="1" dy="1" />
                  <feGaussianBlur stdDeviation="1" />
                  <feColorMatrix type="matrix"
                    values="0 0 0 0 0.0313726 0 0 0 0 0.227451 0 0 0 0 0.494118 0 0 0 0.3 0" />
                  <feBlend mode="normal" in2="effect1_dropShadow_1415_270" result="effect2_dropShadow_1415_270" />
                  <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_1415_270" result="shape" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                  <feOffset dx="1" dy="1" />
                  <feGaussianBlur stdDeviation="1.5" />
                  <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                  <feColorMatrix type="matrix"
                    values="0 0 0 0 0.00784314 0 0 0 0 0.054902 0 0 0 0 0.12549 0 0 0 0.9 0" />
                  <feBlend mode="normal" in2="shape" result="effect3_innerShadow_1415_270" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                  <feOffset dx="-1" dy="-1" />
                  <feGaussianBlur stdDeviation="1" />
                  <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                  <feColorMatrix type="matrix"
                    values="0 0 0 0 0.0313726 0 0 0 0 0.227451 0 0 0 0 0.494118 0 0 0 0.9 0" />
                  <feBlend mode="normal" in2="effect3_innerShadow_1415_270" result="effect4_innerShadow_1415_270" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                  <feOffset dx="1" dy="-1" />
                  <feGaussianBlur stdDeviation="1" />
                  <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                  <feColorMatrix type="matrix"
                    values="0 0 0 0 0.00784314 0 0 0 0 0.054902 0 0 0 0 0.12549 0 0 0 0.2 0" />
                  <feBlend mode="normal" in2="effect4_innerShadow_1415_270" result="effect5_innerShadow_1415_270" />
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                    result="hardAlpha" />
                  <feOffset dx="-1" dy="1" />
                  <feGaussianBlur stdDeviation="1" />
                  <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                  <feColorMatrix type="matrix"
                    values="0 0 0 0 0.00784314 0 0 0 0 0.054902 0 0 0 0 0.12549 0 0 0 0.2 0" />
                  <feBlend mode="normal" in2="effect5_innerShadow_1415_270" result="effect6_innerShadow_1415_270" />
                </filter>
              </defs>
            </svg>
          </div>
        </div>
        <!-- <div class="row" style="height: 34%;">
                        <div class="col-4">
                        </div>
                        <div class="col-1 p-0 text-center tableBtn">
                        </div>
                        <div class="col-1 ms-3 p-0 text-center tableBtn">
                            <p style="width: 80%;transform: skewX(21deg);margin-top: 9%; " class="ps-4 runnername">
                                <img src="./assets/images/tiger.svg" style="width: 32%;">
                                Tiger
                            </p>
                        </div>
                        <div class="col-5"></div>
                    </div> -->
      </div>
    </div>
    <div class="row m-0" *ngIf="GameCode === 'PK'">
      <div class="col-12 p-0 position-absolute marginMainRow">
        <div class="row">
          <div class="col-lg-2 p-0"></div>
          <div class="col-lg-8 col-12 p-lg-0 mt-lg-4">
            <div class="row">
              <div class="col-lg-2 d-none d-md-block text-center sideimg p-0">
                <img class="w-100" src="./assets/images/rng_images/table_left_icon.png">
              </div>
              <div class="col-lg-8 col-12 p-0">
                <div class="row position-relative" style="z-index: 999;">
                  <!-- <div class="col-lg-2 p-0"></div> -->
                  <div class="row">
                    <div class="col-lg-4 col-5 p-0 text-center">
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="tableBtn">
                        <p style="transform: skewX( 21deg);" class="runnername">Flop</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-3"></div>
                    <div class="col-lg-2 col-2 p-0">
                      <div class="Virtuallivecard text-center">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="tableBtn">
                        <p style="transform: skewX( 21deg);" class="runnername">Turn</p>
                      </div>
                    </div>
                    <div class="col-lg-2 col-2 p-0">
                      <div class="Virtuallivecard">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="tableBtn">
                        <p style="transform: skewX( 21deg);" class="runnername">River</p>
                      </div>
                    </div>
                  </div>
                  <!-- lower row -->
                  <div class="row marginpokerrow">
                    <div class="col-lg-4 col-4 p-0"></div>
                    <div class="col-lg-2 col-3  p-0">
                      <div class="tableBtn">
                        <p style="transform: skewX( 21deg);" class="runnername">Player A</p>
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                    </div>
                    <div class="col-lg-2 col-3 p-0">
                      <div class="tableBtn">
                        <p style="transform: skewX( 21deg);" class="runnername">Player B</p>
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                    </div>
                    <div class="col-lg-2 col-2 p-0"></div>
                    <div class="col-lg-2 p-0"></div>
                  </div>
                </div>
                <div class="row text-center d-none">
                  <div class="col-lg-12">
                    <img class="w-100" src="./assets/images/rng_images/table_supernowa_logo.png"
                      style="bottom: 92%;position: relative;">
                  </div>
                </div>
              </div>
              <div class="col-lg-2 d-none d-md-block text-center sideimg">
                <img class="w-100" src="./assets/images/rng_images/table_right_icon.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0" *ngIf="GameCode === 'TTC'">
      <div class="col-12 p-0 position-absolute marginMainRow">
        <div class="row">
          <div class="col-lg-2 p-0"></div>
          <div class="col-lg-8 col-12 p-lg-0 mt-lg-4">
            <div class="row">
              <div class="col-lg-2 d-none d-md-block text-center sideimg p-0">
                <img class="w-100" src="./assets/images/rng_images/table_left_icon.png">
              </div>
              <div class="col-lg-8 col-12 p-0">
                <div class="row position-relative" style="z-index: 999;">
                  <!-- <div class="col-lg-2 p-0"></div> -->
                  <div class="row">
                    <div class="col-lg-4 col-5 p-0 text-center">
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="tableBtn ps-4">
                        <p style="transform: skewX( 21deg);" class="runnername">8+</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-2"></div>
                    <div class="col-lg-4 col-5 p-0 text-center">
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="tableBtn ps-4">
                        <p style="transform: skewX( 21deg);" class="runnername">9+</p>
                      </div>
                    </div>
                  </div>
                  <!-- lower row -->
                  <div class="row marginpokerrow">
                    <div class="col-lg-4 col-4 p-0"></div>
                    <div class="col-lg-2 col-3  p-0">
                      <div class="tableBtn ps-4">
                        <p style="transform: skewX( 21deg);" class="runnername">10+</p>
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                    </div>
                    <div class="col-lg-2 col-3 p-0">
                      <div class="tableBtn ps-4">
                        <p style="transform: skewX( 21deg);" class="runnername">11+</p>
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                    </div>
                    <div class="col-lg-2 col-2 p-0"></div>
                    <div class="col-lg-2 p-0"></div>
                  </div>
                </div>
                <div class="row text-center d-none">
                  <div class="col-lg-12">
                    <img class="w-100" src="./assets/images/rng_images/table_supernowa_logo.png"
                      style="bottom: 92%;position: relative;">
                  </div>
                </div>
              </div>
              <div class="col-lg-2 d-none d-md-block text-center sideimg">
                <img class="w-100" src="./assets/images/rng_images/table_right_icon.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0" *ngIf="GameCode === 'CQ'">
      <div class="col-12 p-0 position-absolute marginMainRow">
        <div class="row">
          <div class="col-lg-2 p-0"></div>
          <div class="col-lg-8 col-12 p-lg-0 mt-lg-4">
            <div class="row">
              <div class="col-lg-2 d-none d-md-block text-center sideimg p-0">
                <img class="w-100" src="./assets/images/rng_images/table_left_icon.png">
              </div>
              <div class="col-lg-8 col-12 p-0">
                <div class="row position-relative" style="z-index: 999;">
                  <!-- <div class="col-lg-2 p-0"></div> -->
                  <div class="row">
                    <div class="col-lg-4 col-5 p-0 text-center">
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="tableBtn">
                        <p style="transform: skewX( 21deg);" class="runnername">Player 0</p>
                      </div>
                    </div>
                    <div class="col-lg-4 col-3"></div>
                    <div class="col-lg-4 col-4 p-0 text-center">
                      <div class="Virtuallivecard">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="tableBtn">
                        <p style="transform: skewX( 21deg);" class="runnername">Player 1</p>
                      </div>
                    </div>
                  </div>
                  <!-- lower row -->
                  <div class="row marginpokerrow">
                    <div class="col-lg-4 col-4 p-0"></div>
                    <div class="col-lg-2 col-3  p-0">
                      <div class="tableBtn">
                        <p style="transform: skewX( 21deg);" class="runnername">Player 3</p>
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                    </div>
                    <div class="col-lg-2 col-3 p-0">
                      <div class="tableBtn">
                        <p style="transform: skewX( 21deg);" class="runnername">Player 4</p>
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                    </div>
                    <div class="col-lg-2 col-2 p-0"></div>
                    <div class="col-lg-2 p-0"></div>
                  </div>
                </div>
                <div class="row text-center d-none">
                  <div class="col-lg-12">
                    <img class="w-100" src="./assets/images/rng_images/table_supernowa_logo.png"
                      style="bottom: 92%;position: relative;">
                  </div>
                </div>
              </div>
              <div class="col-lg-2 d-none d-md-block text-center sideimg">
                <img class="w-100" src="./assets/images/rng_images/table_right_icon.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0" *ngIf="GameCode === 'LS' || GameCode === 'JK'">
      <div class="col-12 p-0 position-absolute marginMainRow">
        <div class="row">
          <div class="col-lg-2 p-0"></div>
          <div class="col-lg-8 col-12 p-lg-0 mt-lg-4">
            <div class="row">
              <div class="col-lg-2 d-none d-md-block text-center sideimg">
                <img class="w-100" src="./assets/images/rng_images/table_left_icon.png">
              </div>
              <div class="col-lg-8 col-12">
                <div class="row text-center position-relative" style="z-index: 999;">
                  <div class="col-lg-4 col-2"></div>
                  <div class="col-lg-4 col-8">
                    <div class="livecard">
                      <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                    </div>
                  </div>
                  <!-- <div class="col-lg-3 col-6">
                                        <div class="livecard">
                                            <img class="imgsize"
                                                src="{{GameHistoryDetails.PlayerACard[1] || 'assets/images/back.png'}}">
                                        </div>
                                    </div> -->
                  <div class="col-lg-3"></div>
                  <!-- <div class="col-lg-3"></div> -->
                  <!-- <div class="col-lg-3 col-6">
                                        <div class="tableBtn">
                                            <p style="transform: skewX( 21deg);" class="runnername pt-lg-2">
                                                <img src="./assets/images/dragon.svg" class="w-25"> Dragon
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-6">
                                        <div class="tableBtn">
                                            <p style="transform: skewX(21deg);" class="runnername pt-lg-2">
                                                <img src="./assets/images/tiger.svg" class="w-25">
                                                Tiger
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-lg-3"></div> -->
                </div>
                <div class="row text-center">
                  <div class="col-12">
                    <img class="w-100" src="./assets/images/rng_images/table_supernowa_logo.png"
                      style="bottom: 92%;position: relative;">
                  </div>
                </div>
              </div>
              <!-- <div class="col-4 "></div> -->
              <div class="col-lg-2 d-none d-md-block text-center sideimg">
                <img class="w-100" src="./assets/images/rng_images/table_right_icon.png">
              </div>
            </div>
            <!-- <div class="row" style="height: 34%;">
                            <div class="col-4">
                            </div>
                            <div class="col-1 p-0 text-center tableBtn">
                            </div>
                            <div class="col-1 ms-3 p-0 text-center tableBtn">
                                <p style="width: 80%;transform: skewX(21deg);margin-top: 9%; " class="ps-4 runnername">
                                    <img src="./assets/images/tiger.svg" style="width: 32%;">
                                    Tiger
                                </p>
                            </div>
                            <div class="col-5"></div>
                        </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0" *ngIf="GameCode === 'WM'">
      <div class="col-12 p-0 position-absolute marginMainRow">
        <div class="row">
          <div class="col-lg-2 p-0"></div>
          <div class="col-lg-8 col-12 p-lg-0 mt-lg-4">
            <div class="row">
              <div class="col-lg-2 d-none d-md-block text-center sideimg p-0">
                <img class="w-100" src="./assets/images/rng_images/table_left_icon.png">
              </div>
              <div class="col-lg-8 col-12 p-0">
                <div class="row position-relative" style="z-index: 999;">
                  <div class="row">
                    <div class="col-3 col-lg-4 p-0"></div>
                    <div class="col-lg-4 p-0 text-center">
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                      <div class="Virtuallivecard ">
                        <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                      </div>
                    </div>
                    <div class="col-lg-4 col-2"></div>
                    <!-- <div class="col-lg-4 col-5 p-0 text-center">
                                            <div class="Virtuallivecard ">
                                                <img class="imgsize"
                                                    src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                                            </div>
                                            <div class="Virtuallivecard ">
                                                <img class="imgsize"
                                                    src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                                            </div>
                                            <div class="Virtuallivecard ">
                                                <img class="imgsize"
                                                    src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                                            </div>
                                            <div class="tableBtn">
                                                <p style="transform: skewX( 21deg);" class="runnername">Player B</p>
                                            </div>
                                        </div> -->
                  </div>
                </div>
                <div class="row text-center d-none">
                  <div class="col-lg-12">
                    <img class="w-100" src="./assets/images/rng_images/table_supernowa_logo.png"
                      style="bottom: 92%;position: relative;">
                  </div>
                </div>
              </div>
              <div class="col-lg-2 d-none d-md-block text-center sideimg">
                <img class="w-100" src="./assets/images/rng_images/table_right_icon.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row m-0" *ngIf="GameCode === 'ARW'">
      <div class="col-12 p-0 position-absolute">
        <div class="row">
          <div class="col-4 p-0"></div>
          <div class="col-6 p-0">
            <div class="row">
              <div class="col-12 row">
                <div class="col-5 text-end">
                  <div class="livecard w-50">
                    <img class="imgsize w-25" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                  </div>
                  <!-- <h6 class="mt-3"><span class="playername">Turn </span></h6> -->
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-3 columnDevider text-center">
                <div>
                  A-6
                </div>
                <div>
                  Akbar
                </div>
              </div>
              <div class="col-3 columnDevider text-center">
                7-10
                <div>
                  Romeo
                </div>
              </div>
              <div class="col-3 text-center">
                J,Q,K
                <div>
                  Walter
                </div>
              </div>
            </div>

          </div>
          <!-- <div class="col-2 p-0" (click)="SetHistoryCards()">
                        <div class="livecard">
                            <img class="democard" src="assets/images/back.png" class="w-100">
                        </div>
                    </div> -->
        </div>
        <!-- <div class="row mt-4">
                    <div class="col-4 p-0"></div>
                    <div class="col-6 p-0">
                        <div class="row">
                            <div class="col-3 columnDevider text-center">
                                <div>
                                    A-6
                                </div>
                                <div>
                                    Akbar
                                </div>
                            </div>
                            <div class="col-3 columnDevider text-center">
                                7-10
                                <div>
                                    Romeo
                                </div>
                            </div>
                            <div class="col-3 text-center">
                                J,Q,K
                                <div>
                                    Walter
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
      </div>
    </div>
    <div class="row m-0" *ngIf="GameCode === 'RPS'">
      <div class="col-12 p-0 position-absolute marginMainRow">
        <div class="row">
          <div class="col-lg-2 p-0"></div>
          <div class="col-lg-8 col-12 p-lg-0 mt-lg-4">
            <div class="row">
              <div class="col-lg-2 d-none d-md-block text-center sideimg">
                <img class="w-100" src="./assets/images/rng_images/table_left_icon.png">
              </div>
              <div class="col-lg-8 col-12">
                <div class="row text-center position-relative" style="z-index: 999;">
                  <div class=" col-lg-3"></div>
                  <div class="col-lg-3 col-6">
                    <div class="livecard">
                      <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[0] || 'assets/images/back.png'}}">
                    </div>
                  </div>
                  <div class="col-lg-3 col-6">
                    <div class="livecard">
                      <img class="imgsize" src="{{GameHistoryDetails.PlayerACard[1] || 'assets/images/back.png'}}">
                    </div>
                  </div>
                  <div class="col-lg-3"></div>
                  <div class="col-lg-3"></div>
                  <div class="col-lg-3 col-6">
                    <div class="tableBtn">
                      <p style="transform: skewX( 21deg);" class="runnername pt-lg-2">
                        Silver
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-3 col-6">
                    <div class="tableBtn">
                      <p style="transform: skewX(21deg);" class="runnername pt-lg-2">
                        Gold
                      </p>
                    </div>
                  </div>
                  <div class="col-lg-3"></div>
                </div>
                <div class="row text-center">
                  <div class="col-12">
                    <img class="w-100" src="./assets/images/rng_images/table_supernowa_logo.png"
                      style="bottom: 92%;position: relative;">
                  </div>
                </div>
              </div>
              <!-- <div class="col-4 "></div> -->
              <div class="col-lg-2 d-none d-md-block text-center sideimg">
                <img class="w-100" src="./assets/images/rng_images/table_right_icon.png">
              </div>
            </div>
            <!-- <div class="row" style="height: 34%;">
                            <div class="col-4">
                            </div>
                            <div class="col-1 p-0 text-center tableBtn">
                            </div>
                            <div class="col-1 ms-3 p-0 text-center tableBtn">
                                <p style="width: 80%;transform: skewX(21deg);margin-top: 9%; " class="ps-4 runnername">
                                    <img src="./assets/images/tiger.svg" style="width: 32%;">
                                    Tiger
                                </p>
                            </div>
                            <div class="col-5"></div>
                        </div> -->
          </div>
        </div>
      </div>
    </div>
    <img src="./assets/images/VirtualTable.png" class="w-100 table newrespo">
  </div>
  <!-- <div (click)="SetHistoryCards()"><img src="./assets/images/rng_images/table_upper_box.png" class="w-50 tablebox"></div> -->
  <img src="./assets/images/rng_images/table_upper_box.png" class="tablebox" [ngClass]="{'nonbox': GameCode === 'AB'}">
  <!-- <img src="./assets/images/VirtualTable.svg" class="w-100 table d-none d-md-block"> -->
  <!-- <img src="./assets/images/rng_images/table.png" class="w-100 table d-none d-md-block"> -->
  <!-- <img src="../assets/animations/image_table.png" class="table d-block d-md-none w-auto"> -->
  <!-- <img src="../assets/animations/table2.png" class="w-100 table"> -->
</div>